/** @format */

//=============== List ================//

.giz-list {
  position: relative;

  .giz-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.3s ease, opacity 0.3s ease;

    &.disabled {
      cursor: default;
      pointer-events: none;
    }

    &.dragging {
      transform: scale(1.03); // Subtle scaling for dragging feedback
      background-color: #e8f5ff; // Improved background highlight during dragging
      opacity: 0.8; // Semi-transparent for better feedback
    }
  }

  &.giz-list--with-header {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &-nested-list {
    position: absolute;
    width: max-content;

    &.giz-list--right {
      left: 100%;
    }

    &.giz-list--left {
      right: 100%;
    }

    &.giz-list--top {
      bottom: 0;
    }
  }
}
