/** @format */

//=============== List ================//

.giz-list {
  position: relative;

  .giz-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.4s ease, background-color 0.4s ease;

    &.disabled {
      cursor: default;
      pointer-events: none;
    }

    &.dragging {
      transform: scale(1.05);
      background-color: #f0f0f0; // Optional: Change background color while dragging
    }
  }

  &.giz-list--with-header {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &-nested-list {
    position: absolute;
    width: max-content;

    &.giz-list--right {
      left: 100%;
    }

    &.giz-list--left {
      right: 100%;
    }

    &.giz-list--top {
      bottom: 0;
    }
  }
}
