//=============== gizmo autoComplete select classes ================//

//== giz-input autoComplete
.giz-input-autocomplete {
    position: $position-relative;

    .giz-autocomplete-dropdown-full-width {
        width: $width-full;
    }

    .giz-input-autocomplete-dropdown-menu {
        box-shadow: $elevation-2-theme-light;
        border: 1px solid $border-color;

        [light-theme] & {
            border: 1px solid $gray-dark;
        }

        .giz-list {
            .giz-list-item {
                padding-top: $spacer-16;
                padding-bottom: $spacer-16;
                padding-left: $spacer-20;
                padding-right: $spacer-20;
            }
        }
    }

    .giz-input-control {
        .giz-input-root {
            justify-content: $justify-space-between;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                text-align: $text-align-right;
                display: $display-block;
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: $overflow-hidden;
        overflow-y: $overflow-auto;
    }
}
