//=============== gizmo autoComplete select classes ================//

//== giz-input autoComplete
.giz-input-autocomplete {
    display: inline-block;
    position: relative;

    &--full-width {
        display: block;
    }

    .giz-input-autocomplete__dropdown {
        box-shadow: $elevation-2-theme-dark;
        border: 1px solid $border-color-theme-dark;

        &--full-width {
            width: $width-full;
        }

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;
            }
        }

        [light-theme] & {
            border: 1px solid $gray-dark-theme-dark;
        }

        .giz-list {
            .giz-list-item {
                padding-top: $spacer-16;
                padding-bottom: $spacer-16;
                padding-left: $spacer-20;
                padding-right: $spacer-20;
            }
        }
    }

    .giz-input-control {
        .giz-input-root {
            justify-content: $justify-space-between;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                text-align: $text-align-right;
                display: block;
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
