//=============== gizmo avatar classes ================//

.giz-avatar {
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    &.giz-avatar--small {
        width: 3.2rem;
        height: 3.2rem;
    }

    &.giz-avatar--medium {
        width: 7.2rem;
        height: 7.2rem;
    }

    &.giz-avatar--large {
        width: 10.4rem;
        height: 10.4rem;
    }

    &.giz-avatar--rounded {
        border-radius: $rounded-theme-dark;
    }

    &.giz-avatar--circle {
        border-radius: 50%;
    }
}
