//=============== gizmo badge classes ================//

.giz-badge {
    display: inline-block;

    &__wrapper {
        .giz-badge__badge {
            border-radius: 1rem;
            white-space: nowrap;
            padding: 0 1rem;
        }
    }

    &.corner {
        position: relative;
        /*margin-right: 20px;*/

        .giz-badge__wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            .giz-badge__badge {
                padding: unset;
                height: 2.0rem;
                min-width: 2.0rem;
                position: absolute;
                inset: auto auto calc(100% - 0.5rem) calc(100% - 0.5rem);
            }
        }

        &.small {
            .giz-badge__wrapper {
                .giz-badge__badge {
                    padding: unset;
                }
            }
        }
    }

    &.small {
        .giz-badge__wrapper {
            .giz-badge__badge {
                display: inline-block;
                line-height: 1;
                height: 1rem;
                min-width: 1rem;
                border-radius: 0.5rem;
                padding: 0;
            }
        }
    }
}
