//=============== gizmo button group classes ================//

.giz-button-group {
    display: $display-inline-block;
    background-color: $dark-jungle;
    padding: $spacer-4;
    border-radius: $rounded;

    [light-theme] & {
        background-color: $secondary-light;
        border: 2px solid $secondary-light;
    }

    .giz-button {
        color: $gray-black;
        background-color: $dark-jungle;

        [light-theme] & {
            color: $dim-light;
            background-color: $secondary-light;
        }

        &.selected {
            color: $primary-color-theme-light;
            background-color: $dark-gray;
            box-shadow: $elevation-4-theme-light;

            [light-theme] & {
                background-color: $white-color;
            }
        }

        &:hover:not(.selected) {
            background: $dark-gray;
            color: $dim-white;

            [light-theme] & {
                background: $dim-white;
                color: $dim-color;
            }
        }
    }

    &.disabled {
        color: $gray-dim;
        pointer-events: none;

        [light-theme] & {
            color: $dim-white;
        }

        .giz-button {
            &.selected {
                color: $mid-gray;
                background: $onyx-black;

                [light-theme] & {
                    color: $dim-light;
                    background: $white-color;
                }
            }

            &:focus:not(.selected) {
                background: unset;
                box-shadow: unset;
            }
        }
    }
}
