//=============== gizmo button classes ================//

//button (default button primary)
.giz-button {
    font-size: $font-17;
    cursor: $cursor-pointer;
    border-radius: $rounded;
    transition: all 0.3s ease;
    font-weight: $font-weight-600;
    letter-spacing: $letter-spacing-8;
    white-space: $nowrap-white-space;
    line-height: $line-height-22;
    text-align: $text-align-center;
    position: $position-relative;
    align-items: center;

    .giz-button-icon-left {
        margin-right: $spacer-8;
    }

    .giz-button-icon-right {
        float: $float-right;
        margin-left: $spacer-8;
    }

    &.giz-button-icon-right {
        text-align: $text-align-left;
    }

    &.giz-button-full-width {
        width: $width-full;
    }
    //group button
    &--group-button {
        border: $border-0;
        outline: $outline-0;
        color: $white-color;
        background: $primary-color;

        &:hover {
            background: #4F5AD3;
        }

        &:focus {
            background: $primary-color;
            box-shadow: 0px 0px 9px #4891FF;
        }

        &.is-disabled, &[disabled] {
            color: $gray-light-color;
            background: $secondary-light;
            border: 1px solid $gray-light-color;
            pointer-events: none;
        }
    }
    //button fill variant
    &--fill {
        border: $border-0;
        outline: $outline-0;
        color: $white-color;
        background: $primary-color;

        &:hover {
            background: #4F5AD3;
        }

        &:focus {
            background: $primary-color;
            box-shadow: 0px 0px 9px #4891FF;
        }

        &.is-disabled, &[disabled] {
            color: $gray-light-color;
            background: $secondary-light;
            border: 1px solid $gray-light-color;
            pointer-events: none;
        }

        &.warning {
            border: $border-0;
            outline: $outline-0;
            color: $white-color;
            background: $warning-color;

            &:hover {
                background: #e98950;
            }

            &:focus {
                background: $warning-color;
                box-shadow: 0px 0px 9px #e98950;
            }

            &.is-disabled, &[disabled] {
                color: $gray-light-color;
                background: $secondary-light;
                border: 1px solid $gray-light-color;
                pointer-events: none;
            }
        }
    }
    //button outline variant
    &--outline {
        color: $gray-black;
        background-color: $dark-gray;
        border: 1px solid $border-gray-fade;

        [light-theme] & {
            color: $dim-color;
            background: $white-color;
            border: 1px solid $gray-light-color;
        }

        &:hover {
            color: $primary-color;
            background: $white-color;

            [light-theme] & {
                background: $white-color;
            }
        }

        &:focus {
            color: $secondary-color;
            background: $white-color;
            border: 1px solid $primary-color;
            box-shadow: 0px 0px 9px rgba($primary-color, 0.5);

            [light-theme] & {
                background: $white-color;
                border: 1px solid $primary-color;
            }
        }

        &.is-disabled, &[disabled] {
            color: $gray-light-color;
            background: $secondary-light;
            border: 1px solid $gray-light-color;
            pointer-events: none;
        }
    }
    //button text variant
    &--text {
        background: none;
        border: none;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
            background: $white-color;
        }

        &:focus {
            background: $white-color;
            box-shadow: $elevation-1;
        }

        &.is-disabled, &[disabled] {
            color: $gray-dark;
            background: $secondary-light;
            border: none;
            pointer-events: none;
        }
    }
    //button icon variant
    &--icon {
        background: none;
        border: none;
        color: $secondary-color;
        border-radius: $rounded-circle;

        &:hover {
            color: $primary-color;
            background: $white-color;
        }

        &:focus {
            background: $white-color;
            box-shadow: $elevation-1;
        }

        &.is-disabled, &[disabled] {
            color: $gray-dark;
            background: $secondary-light;
            border: none;
            pointer-events: none;
        }
    }
    // button extra large
    &--extra-large {
        font-size: $font-19;
        height: 8rem;
        font-weight: $font-weight-700;
        padding: 0 4rem;
    }
    //button large
    &--large {
        height: 4.8rem;
        font-size: $font-17;
        padding: 0 2.4rem;
    }
    //button medium
    &--medium {
        height: 3.2rem;
        font-size: $font-15;
        padding: 0 1.6rem;
    }
    //button small
    &--small {
        height: 2.4rem;
        font-size: $font-12;
        padding: 0 1.2rem;
    }
    //buton disable
    &.is-disabled, &[disabled] {
        background: $gray-color;
        cursor: default;
        pointer-events: none;

        &:hover {
            background: $gray-color;
        }

        &:focus {
            box-shadow: $elevation-0;
        }
    }
}

.giz-button--icon.giz-button--small {
    width: 2.4rem;
    padding: unset;
}

.giz-button--icon.giz-button--medium {
    width: 3.2rem;
    padding: unset;
}

.giz-button--icon.giz-button--large {
    width: 4.8rem;
    padding: unset;
}

.giz-button--icon.giz-button--extra-large {
    width: 8rem;
    padding: unset;
}