//=============== gizmo button group classes ================//

.giz-button-group {
    display: $display-inline-block;
    background-color: $dark-jungle;
    padding: $spacer-4;
    border-radius: $rounded-theme-dark;

    .giz-button {
        color: $gray-black;
        background-color: $dark-jungle;

        &.selected {
            color: $primary-color-theme-dark;
            background-color: $dark-gray;
            box-shadow: $elevation-4-theme-dark;
        }

        &:hover:not(.selected) {
            background: $dark-gray;
            color: $dim-white-theme-dark;
        }
    }

    &.disabled {
        color: $gray-dim;
        pointer-events: none;

        .giz-button {
            &.selected {
                color: $mid-gray;
                background: $onyx-black-theme-dark;
            }

            &:focus:not(.selected) {
                background: unset;
                box-shadow: unset;
            }
        }
    }
}
