//=============== gizmo card classes ================//

.giz-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    background-color: $dark-color;
    border-radius: $rounded-theme-dark;
    color: $secondary-color;
    box-shadow: $elevation-2-theme-dark;

    [light-theme] & {
        background-color: $white-color;
    }

    &.giz-card-outlined {
        border: 1px solid $gray-light-color;
    }

    .giz-card-header {
        display: $display-flex;
        padding: $spacer-16;
        align-items: $align-center;

        .giz-card-header-content {
            flex: $flex-fill;
        }

        .giz-card-header-actions {
            flex: 0 0 auto;
            align-self: $align-self-start;
            margin-top: $spacer-n8;
            margin-right: $spacer-n8;
        }
    }

    .giz-card-body {
        padding: $spacer-16;
        overflow: auto;
    }

    .giz-card-footer {
        display: $display-flex;
        padding: $spacer-16;
        align-items: $align-center;
    }
}