//=============== gizmo chip group classes ================//

.giz-chip-group {
    display: inline-block;

    .giz-chip {
        margin-right: 1rem;
        font-size: $font-11;
        line-height: $line-height-11;
        color: $white-color;
        text-transform: $text-uppercase;
        padding: 0.5rem;

        &:last-child {
            margin-right: 0px;
        }

        &.selected {
            background: $primary-color;
            box-shadow: $elevation-1;
            border-radius: $rounded-pill;
        }
    }

    &.disabled {
    }
}
