//=============== gizmo collapse classes ================//

.giz-collapse {
    display: $display-none;
    position: relative;

    &.giz-collapse-expanded {
        display: $display-block;
    }
}