.giz-data-grid-wrapper {
    overflow: auto;

    .giz-menu {
        position: absolute !important;
    }
}

.giz-data-grid {
    position: relative;
    width: $width-full;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    color: $gray-black-theme-dark;
    font-size: $font-16-theme-dark;
    background: $dark-gray-theme-dark;


    & > thead td, & > thead th {
        height: 5rem;
        text-transform: $text-uppercase;
        font-size: $font-15-theme-dark;
        color: $gray-black-theme-dark;
        font-weight: $font-weight-400;
        padding: 0 0.5rem;
        text-align: $text-align-left;

        &.is-sorted-up {
            position: relative;

            &:after {
                content: '\f0de';
                position: absolute;
                right: 1rem;
                height: $height-full;
                display: flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }

        &.is-sorted-down {
            position: relative;

            &:after {
                content: '\f0dd';
                position: absolute;
                right: 1rem;
                height: $height-full;
                display: flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }
    }


    & > tbody > tr {
        height: 3.9rem;
        background: $transparent-color;
        border-radius: $rounded-lg-theme-dark;
        margin-bottom: $spacer-12;

        & > td {
            border-top: 1px solid $transparent-color;
            border-bottom: 1px solid $transparent-color;

            &:first-child {
                border-left: 1px solid $transparent-color;
            }

            &:last-child {
                border-right: 1px solid $transparent-color;
            }
        }

        &:hover {
            background: $dark-jungle-theme-dark;
            color: $white-color;

            & > td {
                border-top: 1px solid $onyx-black-theme-dark;
                border-bottom: 1px solid $onyx-black-theme-dark;

                &:first-child {
                    border-left: 1px solid $onyx-black-theme-dark;
                }

                &:last-child {
                    border-right: 1px solid $onyx-black-theme-dark;
                }
            }
        }

        &.is-opened {
            border-color: #453855;
            background: $primary-color-theme-dark;
            cursor: $cursor-pointer;
            color: $white-color;

            & > td {
                border-top: 1px solid $onyx-black-theme-dark;
                border-bottom: 1px solid $onyx-black-theme-dark;

                &:first-child {
                    border-left: 1px solid $onyx-black-theme-dark;
                }

                &:last-child {
                    border-right: 1px solid $onyx-black-theme-dark;
                }
            }
        }

        &.is-selected {
            background: rgba(90,103,242,0.2);
            cursor: $cursor-pointer;

            & > td {
                border-top: 1px solid $onyx-black-theme-dark;
                border-bottom: 1px solid $onyx-black-theme-dark;

                &:first-child {
                    border-left: 1px solid $onyx-black-theme-dark;
                }

                &:last-child {
                    border-right: 1px solid $onyx-black-theme-dark;
                }
            }

            &:hover {
                background: rgba(90,103,242,0.2);

                & > td {
                    border-top: 1px solid $onyx-black-theme-dark;
                    border-bottom: 1px solid $onyx-black-theme-dark;

                    &:first-child {
                        border-left: 1px solid $onyx-black-theme-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $onyx-black-theme-dark;
                    }
                }
            }
        }

        &.is-active {
            border-color: #453855;
            background: $dark-light-color-theme-dark;
            border-radius: 4px 4px 0 0;
            margin-bottom: $spacer-0;
        }

        & > td:first-child {
            border-radius: 4px 0 0 4px;
        }

        & > td:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    & > tbody > tr > td {
        vertical-align: middle;
        padding: 0 0.5rem;
    }

    & > tbody > tr.table__details > td {
        padding: $spacer-0;
    }
}

.column-selector-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.column-selector {
    top: 2.2rem;
    right: 0;

    .giz-checkbox {
        label {
            margin: 0;
        }
    }
}

.table__details {
    display: none;
    background: $transparent-color !important;

    &:hover {
        & > td {
            border-color: $transparent-color !important;
        }
    }

    .table__row-dropdown.is-opened + & {
        display: table-row;
    }
}

.giz-data-grid__details-content {
    position: relative;
    width: $width-full;
    border: 1px solid #292e39;
    border-radius: $rounded-theme-dark;
    display: flex;
    align-items: $align-start;
    box-sizing: border-box;
    border-top: $border-0-theme-dark;
    padding: 1.2rem 0;
    margin-top: $spacer-n12;

    [light-theme] & {
        border-color: #dddfe4;
    }
}

.giz-data-grid-sticky-header {
    position: relative;
    max-height: 100%;

    .giz-data-grid {

        & > thead td, & > thead th {
            position: sticky;
            top: 0;
            background: $dark-color-theme-dark;

            [light-theme] & {
                color: $secondary-color-theme-dark;
                background: $white-color;
            }
        }
    }
}
