.giz-data-grid {
    position: $position-relative;
    width: $width-full;
    border-collapse: separate;
    border-spacing: 0 1.2rem;
    color: $white-color;
    font-size: $font-16;
    background: $dark-gray;

    [light-theme] & {
        color: $secondary-color;
        background: $white-color;
    }

    & > thead td, & > thead th {
        height: 5rem;
        text-transform: $text-uppercase;
        font-size: $font-15;
        color: $secondary-color;
        font-weight: $font-weight-400;
        padding: 0 1.7rem;
        text-align: $text-align-left;

        &.is-sorted-up {
            position: $position-relative;

            &:after {
                content: '\f0de';
                position: $position-absolute;
                right: 1rem;
                height: $height-full;
                display: $display-flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }

        &.is-sorted-down {
            position: $position-relative;

            &:after {
                content: '\f0dd';
                position: $position-absolute;
                right: 1rem;
                height: $height-full;
                display: $display-flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }
    }


    & > tbody > tr {
        height: 4.8rem;
        background: $transparent-color;
        border-radius: $rounded-lg;
        margin-bottom: $spacer-12;

        & > td {
            border-top: 1px solid $transparent-color;
            border-bottom: 1px solid $transparent-color;

            &:first-child {
                border-left: 1px solid $transparent-color;
            }

            &:last-child {
                border-right: 1px solid $transparent-color;
            }
        }

        [light-theme] & {
            background: $transparent-color;
        }

        &:hover {
            background: rgba(90, 103, 242, 0.2);

            [light-theme] & {
                background: $secondary-light;
            }

            & > td {
                border-top: 1px solid $border-gray-fade;
                border-bottom: 1px solid $border-gray-fade;

                &:first-child {
                    border-left: 1px solid $border-gray-fade;
                }

                &:last-child {
                    border-right: 1px solid $border-gray-fade;
                }
            }
        }


        &.is-opened {
            border-color: #453855;
            background: $primary-color;
            cursor: $cursor-pointer;
            color: $white-color;

            [light-theme] & {
                border-color: #dddfe4;
                background: $primary-color;
            }

            & > td {
                border-top: 1px solid $border-gray-fade;
                border-bottom: 1px solid $border-gray-fade;

                &:first-child {
                    border-left: 1px solid $border-gray-fade;
                }

                &:last-child {
                    border-right: 1px solid $border-gray-fade;
                }
            }
        }

        &.is-selected {
            background: rgba(90,103,242,0.2);
            cursor: $cursor-pointer;

            [light-theme] & {
                background: $primary-light-color;
            }

            &:hover {
                background: rgba(90,103,242,0.2);

                [light-theme] & {
                    background: $primary-light-color;
                }
            }

            & > td {
                border-top: 1px solid $border-gray-fade;
                border-bottom: 1px solid $border-gray-fade;

                &:first-child {
                    border-left: 1px solid $border-gray-fade;
                }

                &:last-child {
                    border-right: 1px solid $border-gray-fade;
                }
            }
        }

        &.is-active {
            border-color: #453855;
            background: $dark-light-color;
            border-radius: 4px 4px 0 0;
            margin-bottom: $spacer-0;

            [light-theme] & {
                border-color: #dddfe4;
                background: $primary-light-color;
            }
        }

        & > td:first-child {
            border-radius: 4px 0 0 4px;
        }

        & > td:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    & > tbody > tr > td {
        vertical-align: middle;
        padding: 0 1.7rem;
    }

    & > tbody > tr.table__details > td {
        padding: $spacer-0;
    }
}


.table__details {
    display: $display-none;
    background: $transparent-color !important;

    &:hover {
        & > td {
            border-color: $transparent-color !important;
        }
    }

    .table__row-dropdown.is-opened + & {
        display: $display-table-row;
    }
}

.giz-data-grid__details-content {
    position: $position-relative;
    width: $width-full;
    border: 1px solid #292e39;
    border-radius: $rounded;
    display: $display-flex;
    align-items: $align-start;
    box-sizing: border-box;
    border-top: $border-0;
    padding: 1.2rem 0;
    margin-top: $spacer-n12;

    [light-theme] & {
        border-color: #dddfe4;
    }
}

.giz-data-grid-sticky-header {
    max-height: 100%;

    .table {

        & > thead td, & > thead th {
            position: sticky;
            top: 0;
            background: $dark-color;

            [light-theme] & {
                color: $secondary-color;
                background: $white-color;
            }
        }
    }
}
