//=============== gizmo date picker classes ================//

// data picker
.giz-calendar {
    border-radius: $rounded;
    max-width: 32rem;
    min-height: 1.6rem;
    box-shadow: $elevation-3;

    button {
        border: $border-0;
        cursor: $cursor-pointer;
        margin: $spacer-0;
        background-color: $transparent-color;
        padding: 0.6rem 0.8rem;

        > span {
            font-size: 2.56rem;
            font-weight: $font-weight-400;
            line-height: 1.75;
            letter-spacing: $letter-spacing-4;
        }
    }

    .giz-calendar-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: $primary-color;
        padding: 0.8rem 2.4rem;

        button {
            color: $white-color;
        }

        button:hover {
            background-color: #0000000d;
        }

        .giz-calendar-title {
            font-size: 3.3rem !important;
        }
    }

    .giz-calendar-content {
        background: $white-color;
        padding: 0.8rem 1rem;

        button {
            height: 3.5rem;
            width: 3.5rem;
            font-size: $font-14;
            display: $display-inline-block;
            border-radius: $rounded-circle;
            background: $transparent-color;
        }

        .giz-calendar-title-switch {
            align-items: $align-center;
            margin: $spacer-8 $spacer-0;
            display: $display-flex;
            justify-content: $justify-space-between;

            .giz-calendar-title-slide:hover {
                cursor: $cursor-pointer;
                font-weight: $font-weight-600;
            }

            button:hover {
                background: $light-color;
            }
        }

        .giz-calendar-weekday {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            color: $dim-light;
            place-items: center;
            margin-bottom: $spacer-8;
            font-size: $font-12;
        }

        .giz-calendar-day {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: $align-center;
            grid-template-rows: repeat(6, 1fr);
            place-items: center;

            .active {
                background-color: $primary-color;
                color: $white-color;
            }

            button:hover:not(.active) {
                background: $light-color;
            }

            button {
                margin: $spacer-0;
            }

            .giz-calendar-day-count {
                font-size: $font-12 !important;
            }
        }

        .giz-calendar-month {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            place-items: center;
            grid-row-gap: 8px;
            grid-template-rows: auto;
            margin-bottom: 8px;

            .giz-calendar-month-count {
                font-size: 16px;
            }

            button {
                width: auto;
                border-radius: 4px;
                padding: 3px 25px;
            }

            .active {
                background-color: $primary-color;
                color: $white-color;
            }

            button:hover:not(.active) {
                background-color: $light-color;
            }
        }

        .giz-calendar-action {
            display: flex;
            justify-content: flex-end;

            button {
                width: auto;
                border-radius: 4px;
                padding: 3px 25px;
                color: $primary-color;

                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
    }
}
