//=============== gizmo date picker classes ================//

// date picker
.giz-input-datepicker {
    .giz-input-control {
        .giz-input-root {
            cursor: pointer;
        }
    }
}

.giz-input-datepicker--popup {
    position: $position-relative;

    .giz-input-datepicker-dropdown-menu {
        box-shadow: $elevation-3;
    }

    .giz-popup {
        overflow-x: $overflow-hidden;
        overflow-y: $overflow-auto;
    }
}

.giz-input-datepicker--dialog {

    .giz-input-datepicker-dropdown-menu {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: $height-full;
        width: $width-full;
        background: #21212199;
    }

    .giz-calendar {
        position: $position-absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// giz calendar (static/dialog)
.giz-calendar {
    border-radius: $rounded;
    max-width: 32rem;
    min-height: 1.6rem;
    box-shadow: $elevation-3;
    background-color: $dark-color;

    [light-theme] & {
        background-color: $white-color;
    }

    .giz-calendar-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: $primary-color;
        padding: 3rem 2rem;
        cursor: default;
        color: $white-color;

        .giz-calendar-year-title {
            font-size: 2.56rem;
            cursor: pointer;
        }

        .giz-calendar-title {
            font-size: 3.3rem;
        }
    }

    .giz-calendar-content {
        background-color: $dark-color;
        color: $white-color;
        /*padding: 0.8rem 1rem;*/

        [light-theme] & {
            background-color: $white-color;
            color: $black-color;
        }

        .active {
            background-color: $primary-color;
            color: $white-color;
        }

        .giz-calendar-title-switch {
            align-items: $align-center;
            margin: $spacer-8 $spacer-0;
            display: $display-flex;
            justify-content: $justify-space-between;

            .giz-calendar-title-slide:hover {
                cursor: $cursor-pointer;
                font-weight: $font-weight-600;
            }
        }

        .giz-calendar-weekday {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            color: $dim-light;
            place-items: center;
            margin-bottom: $spacer-8;
            font-size: $font-12;
        }

        .giz-calendar-day {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: $align-center;
            grid-template-rows: repeat(6, 1fr);
            place-items: center;

            .giz-calendar-day-count {
                font-size: $font-12 !important;
            }
        }

        .giz-calendar-month {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            place-items: center;
            grid-row-gap: 0.8rem;
            grid-template-rows: auto;
            margin-bottom: $spacer-8;

            .giz-calendar-month-count {
                font-size: $font-16;
            }
        }

        .giz-calendar-year {
            height: 30rem;
            overflow: auto;
            font-size: $font-16;

            .giz-calendar-year-count {
                text-align: center;

                &:hover:not(.active) {
                    background: $light-color;
                }
            }
        }

        .giz-calendar-action {
            display: $display-flex;
            justify-content: $justify-end;
        }
    }
}
