//=============== gizmo dialog classes ================//

.giz-dialog {
    background-color: rgba(230, 230, 230, 0.3);
    width: $width-full;
    height: $height-full;
    outline: $outline-0;
    z-index: 100;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: $justify-center;
    align-items: $align-center;
    padding: 1rem;

    &.giz-dialog--open {
        display: flex;
    }
}