//=============== gizmo divider classes ================//

.giz-divider {
    background: $onyx-black-theme-dark;

    [light-theme] & {
        background: $gray-dark;
    }
}

.giz-divider-vertical {
    width: 1px;
    height: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}