
//== list.scss files == //

.giz-list {
    background-color: $dark-color;
    border-radius: $rounded;
    position: $position-relative;
    min-width: 15rem;

    [light-theme] & {
        background-color: $white-color;
    }

    .giz-list-item {
        font-weight: $font-weight-600;
        font-size: $font-15;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-8;
        color: $secondary-color;
        text-decoration: $text-decoration;
        cursor: pointer;

        &.giz-list-item-disabled {
            color: rgb(230, 230, 230);
            cursor: default;
            pointer-events: none;
        }

        .giz-list-item-icon {
            margin-right: $spacer-8;
        }
    }

    &.giz-list--clickable {
        .giz-list-item {
            &:hover {
                background-color: $border-color;
                color: $primary-color;
            }

            [light-theme] &:hover {
                background-color: $secondary-light;
            }
        }
    }

    &.giz-list--selectable {
        .giz-list-item {
            &.giz-list-item-selected {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }
}

//== nested list

.giz-nested-list {
    position: $position-absolute;
    margin-top: -50px;
    width: max-content;

    &.giz-list--right {
        left: 100%;
    }

    &.giz-list--left {
        right: 100%;
    }
}

.giz-nested-list-expand-icon {
    float: right;
}
