
//== list.scss files == //

.giz-list {
    border-radius: $rounded-theme-dark;
    position: $position-relative;
    min-width: 15rem;
    background: $dark-gray-theme-dark;

    [light-theme] & {
        background-color: $white-color;
    }

    .giz-list-item {
        display: flex;
        align-items: center;
        font-weight: $font-weight-600;
        font-size: $font-15-theme-dark;
        line-height: $line-height-16-theme-dark;
        letter-spacing: $letter-spacing-8-theme-dark;
        color: $gray-black-theme-dark;
        text-decoration: $text-decoration;
        cursor: pointer;

        [light-theme] & {
            color: $secondary-color-theme-dark;
        }

        &.giz-list-item-disabled {
            color: rgb(230, 230, 230);
            cursor: default;
            pointer-events: none;
        }

        .giz-list-item-icon {
            margin-right: $spacer-17;
        }
    }

    &.giz-list--clickable {
        .giz-list-item {
            &:hover {
                background-color: $dark-jungle-theme-dark;
                color: $primary-color-theme-dark;
            }

            &:hover svg {
                color: $primary-color-theme-dark;
            }

            [light-theme] &:hover {
                background-color: $secondary-light-theme-dark;
            }
        }
    }

    &.giz-list--selectable {

        .giz-list-item {

            &.giz-list-item-selected {
                background-color: $primary-color-theme-dark;
                color: $white-color;
            }
        }
    }
}

//== nested list

.giz-nested-list {
    position: $position-absolute;
    margin-top: -50px;
    width: max-content;

    &.giz-list--right {
        left: 100%;
    }

    &.giz-list--left {
        right: 100%;
    }
}

.giz-nested-list-expand-icon {
    margin-left: $spacer-12;
    margin-right: $spacer-16;
}
