//=============== gizmo menu classes ================//

.giz-menu {
    display: inline-block;
    position: relative;

    & > button {
        width: 100%;
    }

    &__dropdown {
        right: 0;
        left: 0;

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;
            }
        }

        & > .giz-list.giz-list--right {
            position: absolute;
            left: 0;
            width: max-content;
        }

        & > .giz-list.giz-list--left {
            position: absolute;
            right: 0;
            width: max-content;
        }

        .giz-list {
            border: 1px solid $onyx-black-theme-dark;
            box-shadow: $elevation-2-theme-dark;
            padding: 1.2rem 0.8rem;

            .giz-list-item {
                padding: 0.4rem;
            }
        }
    }
}