//=============== gizmo menu classes ================//

.giz-menu {
    position: $position-relative;

    button {
        display: $display-flex;
        align-items: $align-center;
        width: 20rem;
    }   
}