//=============== gizmo menu classes ================//

.giz-menu {
    position: $position-relative;

    & > button {
        width: 100%;
    }

    .giz-menu-dropdown {
        right: 0;
        left: 0;

        .giz-list {
            border: 1px solid $border-color;
            box-shadow: $elevation-2;

            [light-theme] & {
                border: 1px solid $gray-dark;
            }

            .giz-list-item {
                padding-top: $spacer-16;
                padding-bottom: $spacer-16;
                padding-left: $spacer-20;
                padding-right: $spacer-20;
            }
        }
    }

    .giz-menu-dropdown > .giz-list.giz-list--right {
        position: absolute;
        left: 0;
        width: max-content;
    }

    .giz-menu-dropdown > .giz-list.giz-list--left {
        position: absolute;
        right: 0;
        width: max-content;
    }
}