//=============== gizmo numeric-up-down classes ================//

.giz-input-numeric-up-down {
    display: inline-block;

    &--full-width {
        display: block;
    }

    .giz-input-root {
        .giz-input-icon-right {
            .giz-icon {
                cursor: pointer;
            }
        }
    }
}