//=============== gizmo overlay classes ================//

.giz-overlay {
    width: 100vw;
    height: 100vh;
    outline: $outline-0;
    z-index: 50;
    display: none;
    position: fixed;
    left: 0;
    top: 0;

    &.giz-overlay-visible {
        display: flex;
    }
}
