//=============== gizmo popup classes ================//

.giz-popup {
    /*background-color: rgba(230, 230, 230, 0.3);*/
    z-index: 100;
    visibility: collapse;
    position: absolute;

    &.giz-popup-open {
        visibility: visible;
    }

    &.giz-popup--top {
        top: auto;
        bottom: 0;

        &.giz-popup--offset {
            bottom: 100%;
        }
    }

    &.giz-popup--bottom {
        bottom: auto;
        top: 0;

        &.giz-popup--offset {
            top: 100%;
        }
    }
}

.giz-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    visibility: hidden;

    &--visible {
        visibility: visible;
    }
}