//=============== gizmo popup classes ================//

.giz-popup {
    background-color: rgba(230, 230, 230, 0.3);
    z-index: 100;
    display: $display-none;
    position: $position-absolute;

    &.giz-popup-open {
        display: $display-block;
    }

    &.giz-popup-bottom {
        top: 100%;
        bottom: auto;
    }
}
