//=============== gizmo popup classes ================//

.giz-popup {
    /*background-color: rgba(230, 230, 230, 0.3);*/
    z-index: 100;
    visibility: collapse;
    position: $position-absolute;

    &.giz-popup-open {
        visibility: visible;
    }

    &.giz-popup-bottom {
        top: 100%;
        bottom: auto;
    }
}
