//=============== gizmo progresss bar classes ================//


//== giz stacked progress bar  ====//

.giz-stacked-progress {
    height: 1rem;
    overflow: $overflow-hidden;
    background-color: #f5f5f5;
    border-radius: $rounded;

    .giz-stacked-bar {
        float: $float-left;
        width: 0;
        height: $height-full;
        background-color: #428bca;
    }
}


//== giz circle progress bar ====//

.giz-circle-progress {
    position: $position-relative;

    > span {
        width: 50%;
        height: $height-full;
        overflow: $overflow-hidden;
        position: $position-absolute;
        top: 0;
        z-index: 1;
    }

    .giz-circle-progress-bar {
        width: $width-full;
        height: $height-full;
        border-style: solid;
        position: $position-absolute;
        top: 0;
    }

    &--left {
        left: 0;
    }

    &--left {

        .giz-circle-progress-bar {
            left: 100%;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }
    }

    &--right {
        right: 0;
    }

    &--right {

        .giz-circle-progress-bar {
            left: -100%;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
    }

    &--value {
        display: $display-flex;
        border-radius: $rounded-circle;
        align-items: $align-center;
        justify-content: $justify-center;
        height: $height-full;
        font-weight: $font-weight-400;
    }

    &.giz-circle-progress--extra-small {
        width: 1.6rem;
        height: 1.6rem;

        &::after {
            content: "";
            width: 88%;
            height: 88%;
            border-radius: $rounded-circle;
            position: $position-absolute;
            top: 0;
            left: 0;
            border-width: 0.1rem;
            border-style: solid;
            border-color: #ddd;
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 0.8rem;
                border-bottom-left-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 0.8rem;
        }
    }

    &.giz-circle-progress--small {
        width: 3.2rem;
        height: 3.2rem;

        &::after {
            content: "";
            width: 88%;
            height: 88%;
            border-radius: $rounded-circle;
            position: $position-absolute;
            top: 0;
            left: 0;
            border-width: 0.2rem;
            border-style: solid;
            border-color: #ddd;
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 1.6rem;
                border-bottom-right-radius: 1.6rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 1.6rem;
                border-bottom-left-radius: 1.6rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 1.6rem;
        }
    }

    &.giz-circle-progress--medium {
        width: 5.6rem;
        height: 5.6rem;

        &::after {
            content: "";
            width: 86%;
            height: 86%;
            border-radius: $rounded-circle;
            position: $position-absolute;
            top: 0;
            left: 0;
            border-width: 0.4rem;
            border-style: solid;
            border-color: #ddd;
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 2.8rem;
        }
    }

    &.giz-circle-progress--large {
        width: 15rem;
        height: 15rem;

        &::after {
            content: "";
            width: 90%;
            height: 90%;
            border-radius: $rounded-circle;
            position: $position-absolute;
            top: 0;
            left: 0;
            border-width: 0.7rem;
            border-style: solid;
            border-color: #ddd;
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 7.5rem;
                border-bottom-right-radius: 7.5rem;
                border-width: 0.7rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 7.5rem;
                border-bottom-left-radius: 7.5rem;
                border-width: 0.7rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 3.6rem;
        }
    }
}
