//=============== gizmo select classes ================//

//== giz-input select
.giz-input-select {
    display: inline-block;
    position: relative;

    &--full-width {
        display: block;
    }

    .giz-input-select__dropdown {
        box-shadow: $elevation-2-theme-dark;
        border: 1px solid $border-color-theme-dark;

        &--full-width {
            width: $width-full;
        }

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;
            }
        }

        .giz-list {
            .giz-list-item {
                padding: $spacer-16 $spacer-20;
            }
        }
    }

    .giz-input-control {
        .giz-input-root {
            justify-content: $justify-space-between;
            align-items: $align-center;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                text-align: $text-align-right;
                display: block;
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
