
//== select.scss files == //

.gizmo-select {
    position: relative;

    .g-select-container {
        background-color: $gizmo-white-color;
        border-radius: $gizmo-border-radius-8;
        max-width: max-content;
        width: max-content !important;
        position: absolute;
    }
}