
//== select.scss files == //

.gizmo-select {
    position: $position-relative;

    .g-select-container {
        background-color: $white-color;
        border-radius: $rounded-lg;
        max-width: max-content;
        width: max-content !important;
        position: $position-absolute;
    }
}