//=============== gizmo switch classes ================//

.giz-switch {
    position: relative;
    display: inline-block;
    width: 4.8rem;
    height: 3.2rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .giz-switch__slider {
            background-color: $primary-color-theme-dark;
        }

        &:focus + .giz-switch__slider {
            box-shadow: 0 0 1px $primary-color-theme-dark;
        }

        &:checked + .giz-switch__slider {
            .giz-switch__slider__thumb {
                transform: translateX(1.5rem);
            }
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $gray-color-theme-dark;
        transition: 0.4s;

        &__thumb {
            position: absolute;
            height: 2.4rem;
            width: 2.4rem;
            left: 0.4rem;
            bottom: 0.4rem;
            background-color: $gray-dim-theme-dark;
            transition: 0.4s;

            [light-theme] & {
                background-color: $white-color;
            }
        }

        &--round {
            border-radius: 3.4rem;
            background-color: $gray-dark-theme-dark;

            .giz-switch__slider__thumb {
                border-radius: 50%;
            }
        }
    }
}
