
//== tab.scss files == //

.gizmo-tab.gizmo-tab-hidden{
    display:none;
}

.gizmo-tab.gizmo-tab-disabled {
    .gizmo-tab__link {
        cursor: not-allowed;
        opacity: 0.4;
    }
}

//gizmo-tab
.gizmo-tab {
    .gizmo-tab-active {
        color: $gizmo-white-color;

        [light-theme] & {
            color: $gizmo-black-color;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $gizmo-primary-color;
            animation-duration: .3s;
            animation-name: slideborder;
        }
    }

    .gizmo-tab-hidden {
        display: none;
    }

    .gizmo-tab-disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &__ul {
        list-style: none;
        padding: 1.7rem 4.5rem;
        display: flex;
        margin: 0rem;
        padding: 0rem;
        border-bottom: 1px solid #1f2637;
        background: $gizmo-dark-color;

        [light-theme] & {
            background: #eee;
            border-bottom: 1px solid $gizmo-white-color;
        }
    }

    &__item {
        position: relative;
        padding: 1.5rem 0rem;
    }

    &__link {
        font-weight: $gizmo-font-weight-600;
        font-size: $gizmo-font-17;
        line-height: $gizmo-line-height-22;
        letter-spacing: $gizmo-letter-spacing-8;
        color: $gizmo-secondary-color;
        padding: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: #2a3349;

            [light-theme] & {
                background-color: $gizmo-white-color;
            }
        }
    }
}

//gizmo-tab-content
.gizmo-tab-content {

    .gizmo-tab-content-active {
        .gizmo-tab-content__items {
            display: block;
        }
    }

    .gizmo-tab-content-active {
        .gizmo-tab-content__list {
            animation-duration: 1s;
            animation-name: slidein;
        }
    }

    &__items {
        display: none;
    }

    &__main {
        overflow: hidden;
        width: 100%;
    }

    &__list {
        padding: 0 2.5rem;
        font-size: $gizmo-font-16;
        color: $gizmo-white-color;
        
        [light-theme] & {
            color: $gizmo-secondary-color;
        }
    }
}

//key frame tabs border movement
@keyframes slideborder {
    from {
        margin-left:-22%;
        width: 100%;
    }

    to {
        margin-left: 2%;
        width: 100%;
    }
}
//keyframe for slide content-list text
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


