
//== tab.scss files == //

.giz-tab.giz-tab-hidden {
    display: $display-none;
}

.giz-tab.giz-tab-disabled {
    .giz-tab__link {
        pointer-events: none;
        opacity: 0.4;
    }
}

//giz-tab
.giz-tab {
    .giz-tab-active {
        color: $white-color;

        [light-theme] & {
            color: $black-color;
        }

        &::after {
            content: "";
            position: $position-absolute;
            bottom: 0;
            left: 0;
            width: $width-full;
            height: 3px;
            background-color: $primary-color;
            animation-duration: .3s;
            animation-name: slideborder;
        }
    }

    .giz-tab-hidden {
        display: $display-none;
    }

    .giz-tab-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &__ul {
        list-style: $list-unstyled;
        padding: 1.7rem 4.5rem;
        padding: $spacer-0;
        border-bottom: 1px solid $gray-dim;

        [light-theme] & {
            background: $secondary-light;
            border-bottom: 1px solid $white-color;
        }
    }

    &__link {
        color: $gray-black;

        &:hover {
        color:$white-color;

            [light-theme] & {
                background-color: $white-color;
                color: $dim-color;
            }
        }
    }
}

//giz-tab-content
.giz-tab-content {
    background: $dark-gray;

    > div {
        display: $display-none;
    }

    [light-theme] & {
        color: $secondary-color;
        background:$white-color;
    }

    .giz-tab-content-active {
        display: $display-block;
        padding: $spacer-20;
    }

    .giz-tab-content-active {
        animation-duration: 1s;
        animation-name: slidein;
    }
}

//key frame tabs border movement
@keyframes slideborder {
    from {
        margin-left: -22%;
        width: $width-full;
    }

    to {
        margin-left: 2%;
        width: $width-full;
    }
}
//keyframe for slide content-list text
@keyframes slidein {
    from {
        margin-left: 100%;
        width: $width-full;
    }

    to {
        margin-left: 0%;
        width: $width-full;
    }
}
