
//== tab.scss files == //

.gizmo-tab.gizmo-tab-hidden{
    display:none;
}

.gizmo-tab.gizmo-tab-disabled {
    .gizmo-tab__link {
        cursor: not-allowed;
        opacity: 0.4;
    }
}

.gizmo-tab {
    .gizmo-tab-active {
        color: $gizmo-white-color;       

        [light-theme] & {
            color: $gizmo-black-color;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $gizmo-primary-color;          
        }
    }

    .gizmo-tab-content__items {
        display: none;
    }

    .gizmo-tab-content-active {
        .gizmo-tab-content__items {
            display: block;
        }
    }

    .gizmo-tab-hidden {
        display: none;
    }

    .gizmo-tab-disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &__ul {
        list-style: none;
        padding: 1.7rem 4.5rem;
        display: flex;
        margin: 0rem;
        padding: 0rem;
        border-bottom: 1px solid #1f2637;
        background: $gizmo-dark-color;

        [light-theme] & {
            background: #eee;
            border-bottom: 1px solid $gizmo-white-color;
        }
    }

    &__item {
        position: relative;
        padding: 1.5rem 0rem;
    }

    &__link {
        font-weight: $gizmo-font-weight-600;
        font-size: $gizmo-font-17;
        line-height: $gizmo-line-height-22;
        letter-spacing: $gizmo-letter-spacing-8;
        color: $gizmo-secondary-color;
        padding: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: #2a3349;

            [light-theme] & {
                background-color: $gizmo-white-color;
            }
        }
    }
}

// tabs animation effect

.content {
    background: #fff;
    position: relative;
    width: 100%;
    height: 370px;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    padding: 10px 40px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.content-1, .content-3 {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

.content-2, .content-4 {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 100;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
    transition: all ease-out 0.2s 0.1s;
}



