//=============== gizmo textInput classes ================//

//input label
.giz-input-label {
    font-weight: $font-weight-600;
    font-size: $font-15;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-8;
    color: $dim-light;
}

//Input default size (normal)
.giz-input-root {
    background: $white-color;
    border: 1px solid $dim-light;
    border-radius: $rounded;
    height: 4.8rem;
    padding: $spacer-16;
    font-weight: $font-weight-600;
    font-size: $font-15;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-8;
    color: $secondary-color;
    width: fit-content;

    &:hover {
        border: 1px solid $primary-color;
        box-shadow: $elevation-1;
        color: $black-color;
    }

    &:focus {
        color: $black-color;
        border: 1px solid $primary-color !important;
        box-shadow: $elevation-1 !important;
    }

    &.is-disabled, &[disabled] {
        background: $gray-dark;
        border: 1px solid $gray-dark;
    }

    .giz-input-icon-left {
        margin-right: $spacer-12;
    }

    .giz-input-icon-right {
        margin-left: $spacer-12;
    }

    //full width
    &--full-width {
        width: $width-full !important;
    }

    //input large
    &--large {
        padding: 2.8rem 3.2rem;
        height: 8rem;
        border: $border-0;
        outline: none;
        font-weight: $font-weight-500;
        font-size: $font-19;
        line-height: $line-height-24;

        &:hover {
            border: $border-0 !important;
            box-shadow:none !important;
        }

        &.is-disabled, &[disabled] {
            background-color: $gray-dark;
            color: $dim-light;
        }

        .giz-input-icon-left {
            margin-right: $spacer-24 !important;
        }

        .giz-input-icon-right {
            margin-left: $spacer-24 !important;
        }
    }

    //input outline
    &--outline {
        outline: auto !important;
    }

    //input shadow
    &--shadow {
        box-shadow: $elevation-1;
        border: 1px solid $primary-color;
    }
}

.giz-input-invalid {
    color: $danger-color;
    font-weight: $font-weight-500;
    font-size: $font-14;
    line-height: $line-height-22;
    letter-spacing: $letter-spacing-8;
}

//== giz input control
.giz-input-control {
    .giz-input-root {
        display: flex;
        justify-content:space-between;
        input {
            width: 100%;
            border: none;
            outline: none;
        }
    }
}

//=============== gizmo textInput select classes ================//

//== giz-input select
.giz-input-select {
    position: $position-relative;

    .giz-input-select-dropdown-menu {
        background-color: $white-color;
        border: 1px solid $gray-dark;
        border-radius: $rounded;
        max-width: max-content;
        width: max-content !important;
        position: $position-absolute;
    }

    .giz-input-control {
        .giz-input-root {
            .giz-input-icon-right {
                text-align: right;
                display: block;
            }
        }
    }
}


