//=============== gizmo text-input classes ================//

.giz-input-text {
    display: inline-block;

    &--full-width {
        display: block;
    }

    .giz-input-root {

        textarea {
            width: $width-full;
            resize: none;
            border: none;
            outline: none;
            background: inherit;
            //
            height: 100%;
            color: $white-color;
            @include font-12;
            @include open-sans-600;
        }
    }
}