//=============== gizmo textInput classes ================//

//input label
.giz-input-label {
    font-weight: $font-weight-600;
    font-size: $font-15;
    line-height: 16px;
    letter-spacing: $letter-spacing-8;
    color: $dim-light;
}

//Input default size (normal)
.giz-input-root {
    background: $white-color;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    height: 4.8rem;
    padding: $spacer-16;
    font-weight: $font-weight-600;
    font-size: $font-15;
    line-height: 16px;
    letter-spacing: $letter-spacing-8;
    color: $secondary-color;

    &:hover {
        border: 1px solid $dim-light;
        color: $black-color;
    }

    &:focus {
        color: $black-color;
        border: 1px solid $primary-color;
        box-shadow: 0px 0px 9px rgba(72, 145, 255, 0.5);
    }

    &.is-disabled, &[disabled] {
        background: $gray-dark;
        border: 1px solid $gray-dark;
    }
    //full width
    &--full-width {
        width: $width-full !important;
    }
    //input large
    &--large {
        padding: 2.8rem 3.2rem;
        height: 8rem;
        border: $border-0;
        outline: none;
        font-weight: $font-weight-500;
        font-size: $font-19;
        line-height: $line-height-24;

        &.is-disabled, &[disabled] {
            background-color: $gray-dark;
            color: $dim-light;
        }
    }
    //input outline
    &--outline {
        outline: auto;
    }
    //input shadow
    &--shadow {
        box-shadow: 0px 0px 9px rgba(72, 145, 255, 0.5);
    }
}

.giz-input-invalid {
    color: $danger-color;
    font-weight: $font-weight-500;
    font-size: $font-14;
    line-height: $line-height-22;
    letter-spacing: $letter-spacing-8;
}

//=============== gizmo textInput custom .scss ================//
