// == theme light components == //

// == data-grid == //
.giz-data-grid {
    [light-theme] & {
        color: $secondary-color;
        background: $white-color;

        & > thead td, & > thead th {
            color: $dim-color;
        }

        & > tbody > tr {
            background: $transparent-color;

            &:hover {
                background: $secondary-light;
                color: $black-color;

                & > td {
                    border-top: 1px solid $gray-dark;
                    border-bottom: 1px solid $gray-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark;
                    }
                }
            }

            &.is-opened {
                border-color: #dddfe4;
                background: $primary-color-theme-light;

                & > td {
                    border-top: 1px solid $gray-dark;
                    border-bottom: 1px solid $gray-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark;
                    }
                }
            }

            &.is-selected {
                background: $primary-light-color;

                & > td {
                    border-top: 1px solid $gray-dark;
                    border-bottom: 1px solid $gray-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark;
                    }
                }

                &:hover {
                    background: $primary-light-color;

                    & > td {
                        border-top: 1px solid $gray-dark;
                        border-bottom: 1px solid $gray-dark;

                        &:first-child {
                            border-left: 1px solid $gray-dark;
                        }

                        &:last-child {
                            border-right: 1px solid $gray-dark;
                        }
                    }
                }
            }

            &.is-active {
                border-color: #dddfe4;
                background: $primary-light-color;
            }
        }
    }
}

// == button == //

.giz-button {
    //group button
    &--group-button {
        [light-theme] & {
            color: $gray-dark;
            background: $white-color;
            border: 1px solid $gray-dark;

            svg {
                color: $gray-dark;
            }
        }
    }
    //button fill variant
    &--fill {
        [light-theme] & {
            background: $primary-color-theme-light;
            color: $white-color;
        }

        &.is-disabled, &[disabled] {
            [light-theme] & {
                color: $white-color;
                background: $white-color;
                border: 1px solid $gray-dark;

                svg {
                    color: $gray-dark;
                }
            }
        }

        &.warning {
            [light-theme] & {
                color: $gray-dark;
                background: $white-color;
                border: 1px solid $gray-dark;

                svg {
                    color: $gray-dark;
                }
            }
        }

        &.danger {
            &.is-disabled, &[disabled] {
                [light-theme] & {
                    color: $white-color;
                    background: $white-color;
                    border: 1px solid $gray-dark;

                    svg {
                        color: $gray-dark;
                    }
                }
            }
        }
    }
    //button outline variant
    &--outline {
        [light-theme] & {
            color: $gray-black;
            background: $white-color;
            border: 1px solid $gray-light-color;
        }

        &:hover {
            [light-theme] & {
                background: $white-color;
                color: $primary-color-theme-light;
            }
        }

        &:focus {
            [light-theme] & {
                background: $white-color;
                border: 1px solid $primary-color-theme-light;
                color: $secondary-color;
            }
        }

        &.is-disabled, &[disabled] {
            [light-theme] & {
                color: $gray-dark;
                background: $white-color;
                border: 1px solid $gray-dark;

                svg {
                    color: $gray-dark;
                }
            }
        }
    }
    //button text variant
    &--text {
        [light-theme] & {
            color: $secondary-color;
        }

        &:hover {
            [light-theme] & {
                color: $primary-color-theme-light;
                background: $white-color;
            }
        }

        &:focus {
            [light-theme] & {
                background: $white-color;
                box-shadow: $elevation-1-theme-light;
            }
        }

        &.is-disabled, &[disabled] {
            [light-theme] & {
                color: $gray-dark;
                background: $white-color;
                border: 1px solid $gray-dark;

                svg {
                    color: $gray-dark;
                }
            }
        }
    }
    //button icon variant
    &--icon {
        &.is-disabled, &[disabled] {
            [light-theme] & {
                color: $gray-dark;
            }
        }
    }
    //buton disable
    &.is-disabled, &[disabled] {

        [light-theme] & {
            color: $gray-dark;
            background: $white-color;
            border: 1px solid $gray-dark;

            svg {
                color: $gray-dark;
            }
        }
    }
}
