// == theme light components == //

// == data-grid == //
.giz-data-grid {
    [light-theme] & {
        color: $secondary-color-theme-dark !important;
        background: $white-color !important;

        & > thead td, & > thead th {
            color: $dim-color-theme-dark !important;
        }

        & > tbody > tr {
            background: $transparent-color !important;

            &:hover {
                background: $secondary-light-theme-dark !important;
                color: $black-color !important;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark !important;
                    border-bottom: 1px solid $gray-dark-theme-dark !important;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark !important;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark !important;
                    }
                }
            }

            &.is-opened {
                border-color: #dddfe4 !important;
                background: $primary-color-theme-dark !important;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark !important;
                    border-bottom: 1px solid $gray-dark-theme-dark !important;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark !important;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark !important;
                    }
                }
            }

            &.is-selected {
                background: $primary-light-color-theme-dark !important;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark !important;
                    border-bottom: 1px solid $gray-dark-theme-dark !important;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark !important;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark !important;
                    }
                }

                &:hover {
                    background: $primary-light-color-theme-dark !important;

                    & > td {
                        border-top: 1px solid $gray-dark-theme-dark !important;
                        border-bottom: 1px solid $gray-dark-theme-dark !important;

                        &:first-child {
                            border-left: 1px solid $gray-dark-theme-dark !important;
                        }

                        &:last-child {
                            border-right: 1px solid $gray-dark-theme-dark !important;
                        }
                    }
                }
            }

            &.is-active {
                border-color: #dddfe4 !important;
                background: $primary-light-color-theme-dark !important;
            }
        }
    }
}

// == button group == //
.giz-button-group {
    [light-theme] & {
        background-color: $secondary-light-theme-dark !important;
        border: 2px solid $secondary-light-theme-dark !important;

        .giz-button {
            color: $dim-ligh-theme-darkt !important;
            background-color: $secondary-light-theme-dark !important;

            &.selected {
                background-color: $white-color !important;
            }

            &:hover:not(.selected) {
                background: $dim-white-theme-dark !important;
                color: $dim-color-theme-dark !important;
            }
        }

        &.disabled {
            color: $dim-white-theme-dark !important;

            .giz-button {
                &.selected {
                    color: $dim-ligh-theme-darkt !important;
                    background: $white-color !important;
                }
            }
        }
    }
}

//== giz input
.giz-input-control {
    [light-theme] & {

        .giz-input-label {
            color: $dim-ligh-theme-darkt !important;
        }

        .giz-input-root {
            color: $secondary-color-theme-dark !important;

            &:hover {
                color: $black-color !important;
            }

            input {
                color: $secondary-color-theme-dark !important;

                &::placeholder {
                    color: $gray-light-color-theme-dark !important;
                }

                &.is-disabled, &[disabled] {
                    background: $gray-dark-theme-dark !important;
                }
            }

            &.is-disabled, &[disabled] {
                background: $gray-dark-theme-dark !important;
                /*border: 1px solid $gray-dark-theme-dark !important;*/
                color: $dim-ligh-theme-darkt !important;
            }

            &--outline {
                border: 1px solid $gray-dark-theme-dark !important;

                &:hover {
                    border: 1px solid $gray-dark-theme-dark !important;
                }
            }

            &--filled {
                background: $white-color !important;

                &:focus-within {
                }
            }
        }
    }
}

// == select == //
.giz-input-select {
    [light-theme] & {

        .giz-input-select-dropdown-menu {
            border: 1px solid $gray-dark-theme-dark !important;
        }
    }
}

// == button == //
.giz-button {
    [light-theme] & {
        //group button
        &--group-button {
            color: $gray-dark-theme-dark;
            background: $white-color;
            border: 1px solid $gray-dark-theme-dark;

            svg {
                color: $gray-dark-theme-dark;
            }
        }
        //button fill variant
        &--fill {
            &.is-disabled, &[disabled] {
                color: $white-color;
                background: $white-color;
                border: 1px solid $gray-dark-theme-dark;

                svg {
                    color: $gray-dark-theme-dark;
                }
            }

            &.primary {
                background: $primary-color-theme-dark;
                color: $white-color;
            }

            &.warning {
                color: $gray-dark-theme-dark;
                background: $white-color;
                border: 1px solid $gray-dark-theme-dark;

                svg {
                    color: $gray-dark-theme-dark;
                }
            }

            &.danger {
                &.is-disabled, &[disabled] {
                    color: $white-color;
                    background: $white-color;
                    border: 1px solid $gray-dark-theme-dark;

                    svg {
                        color: $gray-dark-theme-dark;
                    }
                }
            }
        }
        //button outline variant
        &--outline {
            color: $gray-black-theme-dark;
            background: $white-color;
            border: 1px solid $gray-light-color-theme-dark;

            &:hover {
                background: $white-color;
                color: $primary-color-theme-dark;
            }

            &:focus {
                background: $white-color;
                border: 1px solid $primary-color-theme-dark;
                color: $secondary-color-theme-dark;
            }

            &.is-disabled, &[disabled] {
                color: $gray-dark-theme-dark;
                background: $white-color;
                border: 1px solid $gray-dark-theme-dark;

                svg {
                    color: $gray-dark-theme-dark;
                }
            }
        }
        //button text variant
        &--text {
            color: $secondary-color-theme-dark;

            &:hover {
                color: $primary-color-theme-dark;
                background: $white-color;
            }

            &:focus {
                background: $white-color;
                box-shadow: $elevation-1-theme-dark;
            }

            &.is-disabled, &[disabled] {
                color: $gray-dark-theme-dark;
                background: $white-color;
                border: 1px solid $gray-dark-theme-dark;

                svg {
                    color: $gray-dark-theme-dark;
                }
            }
        }
        //button icon variant
        &--icon {
            &.is-disabled, &[disabled] {
                color: $gray-dark-theme-dark;
            }
        }
        //buton disable
        &.is-disabled, &[disabled] {
            color: $gray-dark-theme-dark;
            background: $white-color;
            border: 1px solid $gray-dark-theme-dark;

            svg {
                color: $gray-dark-theme-dark;
            }
        }
    }
}

// == list == //
.giz-list {
    [light-theme] & {
        background-color: $white-color;

        .giz-list-item {
            color: $secondary-color-theme-dark;
        }

        &.giz-list--clickable {
            .giz-list-item {
                &:hover {
                    background-color: $secondary-light-theme-dark;
                    color: $primary-color-theme-dark;
                }
            }
        }
    }
}
