// == theme client components == //

// == data-grid == //
.giz-data-grid {
    [client-theme] & {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        background: transparent;
        color: unset !important;

        & > thead td, & > thead th {
            color: $dim-white !important;
            text-shadow: $text-shadow-sm !important;
            padding: 1rem 0rem 1rem 1.875rem;
            height: unset !important;
            @include font-10;
        }

        & > tbody {
            & > tr {
                border-top: 1px solid $border-dark-color !important;
                height: unset !important;

                &:hover {
                    background: rgba(98, 123, 156, 0.15);

                    & > td {
                        &:first-child {
                            border-left: unset !important;
                        }

                        &:last-child {
                            border-right: unset !important;
                        }
                    }
                }

                &:last-child {
                    border-bottom: 1px solid $border-dark-color !important;
                }

                & > td {
                    padding: 1rem 0rem 1rem 1.875rem !important;
                    border-top: unset !important;
                    border-bottom: unset !important;
                    @include open-sans-600;
                    @include font-14;
                    letter-spacing: $letter-spacing-24 !important;

                    &:first-child {
                        border-left: unset !important;
                    }

                    &:last-child {
                        border-right: unset !important;
                    }
                }
            }

            & > tr:nth-of-type(odd) {
                background: $crystal-light;

                &:hover {
                    background: rgba(98, 123, 156, 0.15);
                }
            }
        }
    }
}

//== stacked progress bar == //
.giz-stacked-progress {
    [client-theme] & {
        display: $display-inline-block;
        height: 1.563rem;
        width: 11.5rem;
        overflow: $overflow-hidden;
        border-radius: $rounded-md;
        vertical-align: inherit;

        @include open-sans-600;
        @include font-11;
        letter-spacing: $letter-spacing-24;
        position: $position-relative;

        .giz-stacked-bar {
            padding: 0.438rem 0.375rem;

            &:last-child {
                text-align: right;
            }
        }
    }
}

// == button group == //
.giz-button-group {
    [client-theme] & {
        display: inline-flex;
        background-color: unset !important;
        border: 1px solid $border-dark-color !important;
        border-radius: $rounded-5 !important;
        padding: unset !important;

        .giz-button {
            @include font-11;
            @include open-sans-600;
            text-transform: $text-uppercase;
            color: $white-color !important;
            background-color: unset !important;
            border-radius: unset !important;
            border-right: 1px solid $border-dark-color !important;
            letter-spacing: normal !important;

            &:focus {
                box-shadow: unset !important;
            }

            &:last-child {
                border-right: none !important;
            }

            &.selected {
                background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%) !important;
            }
        }
    }
}

//== giz input == //
.giz-input-control {
    [client-theme] & {

        .giz-input-root {
            color: $white-color;

            svg {
                color: $white-color;
                vertical-align: baseline !important;
            }

            &.disabled, &[disabled] {
                pointer-events: none;
                //Default Theme
                background: $onyx-black-theme-dark;
                color: $mid-gray-theme-dark;
            }

            input {
                color: $white-color;

                &.disabled, &[disabled] {
                    pointer-events: none;
                    color: $dim-ligh-theme-darkt;
                    //Default Theme
                    background: $onyx-black-theme-dark;
                }
            }

            &--outline {
                border: 1px solid $border-charcoal-gray !important;

                &:hover {
                    border: 1px solid $border-charcoal-gray !important;
                }

                &:focus-within {
                    border: 1px solid $border-heather-gray !important;
                }
            }

            &--filled {
                background: $black-mirage-color;

                &:focus-within {
                    background: $onyx-black;
                }
            }

            &--transparent {
                background: $transparent-color;
            }

            &--small {
                border-radius: $rounded-5 !important;
                height: 30px !important;
                padding: 0.3rem !important;

                input {
                    font-size: $font-9 !important;
                    line-height: $line-height-9 !important;
                    text-shadow: $text-shadow-sm !important;
                }
            }

            &--medium {
                border-radius: $rounded-5 !important;
                height: 35px !important;
                padding: 0.5rem !important;

                input {
                    @include open-sans-600;
                    @include font-11;
                }
            }

            &--large {
                border-radius: $rounded !important;
                height: 54px !important;
                padding: 1.063rem 1.125rem !important;

                input {
                    font-size: $font-16 !important;
                    line-height: $line-height-16 !important;
                    text-shadow: $text-shadow-sm !important;
                }
            }
        }
    }
}

// == select == //
.giz-input-select {
    [client-theme] & {
        .giz-input-select-dropdown-menu {
            border: unset !important;

            .giz-list {
                background: $jet-black !important;

                .giz-list-item {
                    @include open-sans-600;
                    @include font-11;
                    padding: 0.5rem !important;
                    font-weight: normal !important;
                    letter-spacing: unset !important;
                    color: $white-color !important;
                }
            }
        }
    }
}

// == button == //
.giz-button {
    [client-theme] & {
        border-radius: $rounded-sm;
        color: $white-color;
        font-weight: $font-weight-700;
        letter-spacing: $letter-spacing-24;
        border: $border-0;
        outline: $outline-0;
        text-align: $text-align-center;
        cursor: $cursor-pointer;
        font-family: $font-family-open-sans;
        text-transform: $text-uppercase;
        position: $position-relative;
        font-size: $font-13;
        line-height: $line-height-13;
        //group button
        &--group-button {
        }
        //button fill variant
        &--fill {
            &:focus:not(.giz-button-shadow) {
                //Remove shadow from default theme.
                box-shadow: unset !important;
            }

            &.disabled, &[disabled] {
                background: $dark-grayish !important;
                color: $dim-white !important;
            }

            &.warning {
            }

            &.primary:not(.disabled) {
                background: $primary-color !important;

                &.giz-button-shadow {
                    box-shadow: $elevation-1 !important;
                }
            }

            &.secondary {
                background: $secondary-color !important;
            }

            &.info {
                background: $info-color !important;
            }

            &.danger {
                &.disabled, &[disabled] {
                }
            }
        }
        //button outline variant
        &--outline {
            &:hover {
            }

            &:focus {
            }

            &.disabled, &[disabled] {
            }
        }
        //button text variant
        &--text {

            &:hover {
            }

            &:focus {
            }

            &.disabled, &[disabled] {
            }
        }
        //buton disable
        &.disabled, &[disabled] {
        }

        &--small {
            height: 20px;
            padding: 0;

            .giz-icon--small {
                width: 10px;
                height: 10px;
            }
        }

        &--medium {
            height: 33px;
            padding: 0 0.688rem;

            .giz-icon--medium {
                width: 15px;
                height: 15px;
            }
        }

        &--large {
            height: 39px;
            padding: 0 1.938rem;

            .giz-icon--large {
                width: 20px;
                height: 20px;
            }
        }

        &--extra-large {
            height: 53px;
            padding: 0 1.219rem;

            .giz-icon--extra-large {
                width: 20px;
                height: 20px;
            }
        }
    }
}

// == avatar == //
.giz-avatar {
    [client-theme] & {
        &.giz-avatar--small {
            width: 18px;
            height: 18px;
        }

        &.giz-avatar--medium {
            width: 27px;
            height: 27px;
        }

        &.giz-avatar--large {
            width: 67px;
            height: 67px;
        }
    }
}

// == list == //
.giz-list {
    [client-theme] & {
        border-radius: $rounded-lg;
        background: $dark-jungle;

        @include open-sans-600;

        .giz-list-header {
            border-bottom: 1px solid $border-color;
            padding: 0.625rem 0.625rem 1.25rem 0.625rem !important;
            font-size: $font-17;
            line-height: $line-height-21;
            letter-spacing: $letter-spacing-5;
        }

        .giz-list-item {
            border-radius: $rounded-lg;
            font-size: $font-17;
            line-height: $line-height-21;
            letter-spacing: $letter-spacing-5;
            color: $white-color;
        }

        &.giz-list--clickable {
            .giz-list-item {
                background: $black-forest;

                &:hover {
                    background: $metalic-black;
                    color: $white-color;
                }
            }
        }

        &.giz-list--selectable {
            .giz-list-item {
                &.giz-list-item-selected {
                    background: $metalic-black;
                    color: $white-color;
                }
            }
        }
    }
}

// == dialog == //
.giz-dialog {
    [client-theme] & {
        background: linear-gradient(180deg, rgba(22, 30, 37, 0.8) 0%, rgba(11, 17, 23, 0.9) 100%);
        backdrop-filter: blur(15px);
        z-index: 1001;

        & > .giz-card {
            text-align: $text-align-center;
            border-radius: $rounded-xl;
            z-index: 1002;
            border: thin solid $border-silver-gray;
            background: $dark-color;
            /*backdrop-filter: blur(20px);*/
            padding: 3rem;
            overflow: $overflow-hidden;

            &::before {
                position: $position-absolute;
                left: 0;
                bottom: 0;
                content: "";
                background: linear-gradient(to bottom, rgba(90, 94, 107, 0) 0%, rgba(37, 140, 246, 0.45) 333.62%);
                height: $height-full;
                width: $width-full;
            }
        }
    }
}

.giz-card {
    [client-theme] & {
        .giz-card-header {
            padding: unset !important;
        }

        .giz-card-body {
            padding: unset !important;
        }

        .giz-card-footer {
            padding: unset !important;
        }
    }
}

// == icon == //
.giz-icon--extra-small {
    [client-theme] & {
        width: 10px;
        height: 10px;
    }
}

.giz-icon--small {
    [client-theme] & {
        width: 18px;
        height: 18px;
    }
}

.giz-icon--medium {
    [client-theme] & {
        width: 24px;
        height: 24px;
    }
}

.giz-icon--large {
    [client-theme] & {
        width: 28px;
        height: 28px;
    }
}

.giz-icon--extra-large {
    [client-theme] & {
        width: 38px;
        height: 38px;
    }
}

// == icon button == //
.giz-icon-button {
    [client-theme] & {
        color: $white-color;

        &--fill {
            background: $midnight-black;

            &:hover {
                background: $davy-dark-gray;
            }

            &:focus:not(.giz-button-shadow) {
                //Remove shadow from default theme.
                box-shadow: unset !important;
            }

            &:focus {
                background: $davy-dark-gray;
            }

            &.disabled, &[disabled] {
            }
        }

        &--outline {
            background: $light-midnight-black;
            border: 1px solid $border-steel-gray;

            &:hover {
                background: $davy-dark-gray;
            }

            &:focus:not(.giz-button-shadow) {
                //Remove shadow from default theme.
                box-shadow: unset !important;
            }

            &:focus {
                background: $davy-dark-gray;
            }
        }

        &--text {
            background: none;
            border: none;

            &:hover {
                background: $davy-dark-gray;
            }

            &:focus:not(.giz-button-shadow) {
                //Remove shadow from default theme.
                box-shadow: unset !important;
            }

            &:focus {
                background: $davy-dark-gray;
            }

            &.disabled, &[disabled] {
                border: none;
                pointer-events: none;
            }
        }

        &--small {
            width: 30px;
            height: 30px;
        }

        &--medium {
            width: 49px;
            height: 49px;
        }
    }
}

// == menu == //
.giz-menu {
    [client-theme] & {

        .giz-menu-dropdown {

            .giz-list {
                padding: unset;
                border-radius: unset;
                border: 1px solid $midnight-color;
                background: $dark-color;
                box-shadow: $elevation-4;
                backdrop-filter: blur(20px);

                .giz-list-item {
                    border-radius: unset;
                    background: unset;
                    padding: 0.625rem;
                    letter-spacing: $letter-spacing-2;
                    color: $white-color;
                    @include open-sans-600;
                    @include font-13;

                    &:hover {
                        background: $midnight-color;
                    }

                    .giz-list-item-icon {
                        margin-right: 0.625rem;
                    }
                }
            }
        }

        .giz-menu-dropdown > .giz-list.giz-list--right {
            position: absolute;
            left: 0;
            width: max-content;
        }

        .giz-menu-dropdown > .giz-list.giz-list--left {
            position: absolute;
            right: 0;
            width: max-content;
        }
    }
}

// == checkbox == //
.giz-checkbox {
    [client-theme] & {
        & input {
            & + label:before {
                height: 0.875rem;
                width: 0.875rem;
                background: $dark-light-color;
                border: 1px solid $border-bright-gray;
                border-radius: $rounded;
            }

            &:checked + label:after {
                background: unset;
                left: 6px;
                top: 2px;
                width: 0.188rem;
                height: 0.438rem;
                border: solid $white-color;
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}

// == divider == //
.giz-divider {
    [client-theme] & {
        border: none;
        border-top: solid;
        border-width: 1px;
        border-color: $onyx-black-theme-dark;
    }
}

// == badge == //
.giz-badge {
    [client-theme] & {
        &.small {
            .giz-badge__wrapper {
                .giz-badge__badge {
                    display: inline-block;
                    line-height: 1;
                    height: 6px;
                    min-width: 6px;
                    border-radius: 50%;
                    padding: 0;
                    inset: auto auto calc(100% - 3px) calc(100% - 3px);
                    box-shadow: 0px 0px 5px 2px rgba(37, 140, 246, 0.6);
                }
            }
        }
    }
}
