// == theme client components == //

// == data-grid == //
.giz-data-grid {
    [client-theme] & {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        background: unset !important;
        color: unset !important;

        & > thead td, & > thead th {
            color: $dim-white !important;
            text-shadow: $text-shadow-sm !important;
            padding: 1rem 0rem 1rem 1.875rem;
            height: unset !important;
            @include font-10;
        }

        & > tbody > tr {
            border-top: 1px solid $border-dark-color !important;
            height: unset !important;

            &:hover {
                background: $crystal-light !important;

                & > td {
                    &:first-child {
                        border-left: unset !important;
                    }

                    &:last-child {
                        border-right: unset !important;
                    }
                }
            }

            &:last-child {
                border-bottom: 1px solid $border-dark-color !important;
            }

            & > td {
                padding: 1rem 0rem 1rem 1.875rem !important;
                border-top: unset !important;
                border-bottom: unset !important;
                @include open-sans-600;
                @include font-14;
                letter-spacing: $letter-spacing-24 !important;

                &:first-child {
                    border-left: unset !important;
                }

                &:last-child {
                    border-right: unset !important;
                }
            }
        }
    }
}

//== stacked progress bar == //
.giz-stacked-progress {
    [client-theme] & {
        display: $display-inline-block;
        height: 1.563rem;
        width: 11.5rem;
        overflow: $overflow-hidden;
        border-radius: $rounded-md;
        vertical-align: inherit;

        @include open-sans-600;
        @include font-11;
        letter-spacing: $letter-spacing-24;
        position: $position-relative;

        .giz-stacked-bar {
            padding: 0.438rem 0.375rem;

            &:last-child {
                text-align: right;
            }
        }
    }
}

// == button group == //
.giz-button-group {
    [client-theme] & {
        display: inline-flex;
        background-color: unset !important;
        border: 1px solid $border-dark-color !important;
        border-radius: $rounded-5 !important;
        padding: unset !important;

        .giz-button {
            @include font-11;
            @include open-sans-600;
            text-transform: $text-uppercase;
            color: $white-color !important;
            background-color: unset !important;
            border-radius: unset !important;
            border-right: 1px solid $border-dark-color !important;
            letter-spacing: normal !important;

            &:focus {
                box-shadow: unset !important;
            }

            &:last-child {
                border-right: none !important;
            }

            &.selected {
                background: linear-gradient(180deg, rgba(44, 124, 244, 0.25) 0%, rgba(13, 16, 23, 0) 100%) !important;
            }
        }
    }
}

//== giz input == //
.giz-input-control {
    [client-theme] & {

        .giz-input-root {
            color: $white-color !important;

            svg {
                color: $white-color !important;
                vertical-align: baseline !important;
            }

            input {
                color: $white-color !important;
            }

            &--outline {
                border: 1px solid $border-charcoal-gray !important;

                &:hover {
                    border: 1px solid $border-charcoal-gray !important;
                }

                &:focus-within {
                    border: 1px solid $border-heather-gray !important;
                }
            }

            &--filled {
                background: $black-mirage-color !important;

                &:focus-within {
                    background: $onyx-black !important;
                }
            }

            &--transparent {
                background: $transparent-color !important;
            }

            &--small {
            }

            &--medium {
                border-radius: $rounded-5 !important;
                height: 35px !important;
                padding: 0.5rem !important;

                input {
                    @include open-sans-600;
                    @include font-11;
                }
            }

            &--large {
                border-radius: $rounded !important;
                height: 54px !important;
                padding: 1.063rem 1.125rem !important;

                input {
                    font-size: $font-16 !important;
                    line-height: $line-height-16 !important;
                    text-shadow: $text-shadow-sm !important;
                }
            }
        }
    }
}

// == select == //
.giz-input-select {
    [client-theme] & {
        .giz-input-select-dropdown-menu {
            .giz-list {
                background: $jet-black !important;

                .giz-list-item {
                    padding: 0.5rem !important;
                    @include open-sans-600;
                    @include font-11;
                    font-weight: normal !important;
                    letter-spacing: unset !important;
                    color: $white-color !important;
                }
            }
        }
    }
}

// == button == //
.giz-button {
    [client-theme] & {
        color: $white-color;
        font-weight: $font-weight-700;
        letter-spacing: $letter-spacing-24;
        border: $border-0;
        outline: $outline-0;
        text-align: $text-align-center;
        cursor: $cursor-pointer;
        font-family: $font-family-open-sans;
        text-transform: $text-uppercase;
        position: $position-relative;
        font-size: $font-13;
        line-height: $line-height-13;
        padding: 0.813rem 1.938rem !important;
        //group button
        &--group-button {
        }
        //button fill variant
        &--fill {

            &.is-disabled, &[disabled] {
            }

            &.warning {
            }

            &.primary {
                background: $primary-color !important;
                box-shadow: $elevation-1 !important;

                &:focus {
                    background: $white-color;
                    box-shadow: $elevation-1-theme-dark;
                }
            }

            &.info {
                background: $info-color !important;
            }

            &.danger {
                &.is-disabled, &[disabled] {
                }
            }
        }
        //button outline variant
        &--outline {
            &:hover {
            }

            &:focus {
            }

            &.is-disabled, &[disabled] {
            }
        }
        //button text variant
        &--text {
            [client-theme] & {
                /*color: $secondary-color;*/
            }

            &:hover {
            }

            &:focus {
            }

            &.is-disabled, &[disabled] {
            }
        }
        //button icon variant
        &--icon {
            &.giz-button--medium {
                background: $midnight-black !important;
                height: 1.875rem !important;
                width: 1.875rem !important;
                border-radius: $rounded-circle !important;
                padding: 0 !important;

                .giz-icon--medium {
                    width: 14px !important;
                    height: 14px !important;
                }
            }

            &.is-disabled, &[disabled] {
            }
        }
        //buton disable
        &.is-disabled, &[disabled] {
        }

        &--medium {
            height: 33px !important;
            padding: 0 0.688rem !important;
            border-radius: $rounded-sm;
        }

        &--large {
            height: 53px !important;
            padding: 1.219rem !important;
            border-radius: $rounded;
        }
    }
}

// == avatar == //
.giz-avatar {
    [client-theme] & {
        &.giz-avatar--small {
            width: 18px;
            height: 18px;
        }

        &.giz-avatar--medium {
            width: 27px;
            height: 27px;
        }

        &.giz-avatar--large {
            width: 67px;
            height: 67px;
        }
    }
}

// == list == //
.giz-list {
    [client-theme] & {
        border-radius: $rounded-lg;
        background: $dark-jungle;

        .giz-list-item {
            color: $secondary-color-theme-dark;
        }

        &.giz-list--clickable {
            .giz-list-item {
                background-color: unset !important;
            }
        }
    }
}
