//=============== gizmo time picker classes ================//

// time picker
.giz-input-timepicker {
    .giz-input-control {
        .giz-input-root {
            cursor: pointer;
        }
    }
}

.giz-input-timepicker--popup {
    position: relative;

    .giz-input-timepicker-dropdown-menu {
        box-shadow: $elevation-3-theme-dark;
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// giz timer picker
.giz-time-picker {
    border-radius: $rounded-theme-dark;
    width: 25rem;
    min-height: 1.6rem;
    // giz time picker header
    .giz-time-picker-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: $primary-color-theme-dark;
        padding: 3rem 0;
        display: flex;
        justify-content: $justify-center;
        align-items: $align-center;
        cursor: default;

        &--title {
            font-size: 5.8rem;
            color: $white-color;
        }

        &--ampm {
            display: flex;
            flex-direction: $flex-column;
        }

        &--label {
            color: $white-color;
            font-size: $font-16-theme-dark;
            font-weight: $font-weight-600;
        }
    }
    // giz time picker content
    .giz-time-picker-content {
        padding: 1.2rem 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: $align-center;
        text-align: $text-align-center;
        color: $white-color;
        background-color: $dark-color-theme-dark;

        [light-theme] & {
            color: $black-color;
            background-color: $white-color;
        }

        &--icon-size {
            font-size: $font-16-theme-dark;
        }

        &--timer {
            input {
                width: $width-full;
                text-align: $text-align-center;
                border: none;
                font-size: $font-20-theme-dark;
                font-weight: $font-weight-500;

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        &--separator {
            font-size: 2.4rem;
        }
    }
    // giz time picker footer
    .giz-time-picker-footer {
        background-color: $dark-color-theme-dark;

        [light-theme] & {
            background-color: $white-color;
        }

        padding: 1rem;
        display: flex;
        justify-content: $justify-end;
    }
}

