//=============== gizmo tooltip classes ================//

.giz-tooltip-root {
    display: inline-block;
    position: relative;

    .giz-tooltip {
        visibility: $visibility-invisible;
        background-color: $dark-black-pearl;
        text-align: $text-align-center;
        border-radius: $rounded;
        padding: 0.438rem 0.563rem;
        position: $position-absolute;
        z-index: 1;
        white-space: $nowrap-white-space;
        @include font-12;
        @include open-sans-600;
        letter-spacing: -0.025em;

        &--top {
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, calc(-10px));

            &::after {
                content: "";
                position: $position-absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $dark-black-pearl transparent transparent transparent;
            }
        }

        &--bottom {
            top: 100%;
            left: 50%;
            transform: translate(-50%, calc(10px));

            &::after {
                content: "";
                position: $position-absolute;
                top: -10px;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent $dark-black-pearl transparent;
            }
        }
    }

    &:hover {
        .giz-tooltip {
            visibility: $visibility-visible;
        }
    }
}