@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style">

    <span>
        @ChildContent
    </span>

    <span class="giz-badge__wrapper">
        <span class="giz-badge__badge" style="color: @Color; background-color: @BackgroundColor; border-color: @BackgroundColor">
            @if (!string.IsNullOrEmpty(Label))
            {
                @Label
            }
        </span>
    </span>

</div>
