@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@StyleValue">
    @if (CardHeader != null)
    {
        <div class="giz-card-header">
            @CardHeader
        </div>
    }
    @if (CardBody != null)
    {
        <div class="giz-card-body">
            @CardBody
        </div>
    }
    @if (CardFooter != null)
    {
        <div class="giz-card-footer">
            @CardFooter
        </div>
    }
</div>
