@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

@typeparam TItemType

<td @onclick="@(async (e) => await OnDataCellMouseEvent(e, Item, Column))">
    @Column.CellTemplate(Item)
</td>