@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase
@typeparam TItemType

@if (IsVisible)
{
    <th class="@Class @ClassName"
        style="@Style @StyleValue"
        @ref="Ref"
        @attributes="Attributes"
        @onclick="(e => OnHeaderMouseEvent(e))">
        <div class="d-flex">
            <div class="mr-auto">
                @HeaderTemplate
            </div>
            @if (CanSort && IsSorted)
            {
                <div class="ml-1">
                    <Icon SVGIcon="@(SortDirection == SortDirections.Ascending ? Icons.ArrowUp : Icons.ArrowDown)" />
                </div>
            }
        </div>

    </th>
}