@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<tr class="table__details">
    <td colspan="@Columns">
        <div class="data-grid__details-content">
            @ChildContent
        </div>
    </td>
</tr>