@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase
@typeparam TItemType

<td class="@ClassMapper.AsString()"
    style="@StyleMapper.AsString()"
    @ref="Ref"
    @attributes="Attributes"
    @onclick="(e=> OnHeaderMouseEvent(e))">
    @HeaderTemplate
</td>