@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style"
     @onclick="OnClickDialogHandler">

    <Card Style="@DialogStyleValue">
        <CardHeader>
            <div class="d-flex flex-grow-1">
                <div class="flex-grow-1">
                    @DialogHeader
                </div>
                <div>
                    <Button Size="ButtonSizes.Large" Variant="ButtonVariants.Text" LeftSVGIcon="Icons.Close" @onclick="OnClickButtonCloseHandler" />
                </div>
            </div>
        </CardHeader>
        <CardBody>
            @DialogBody
        </CardBody>
        <CardFooter>
            @DialogFooter
        </CardFooter>
    </Card>

</div>
