@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     @onclick="OnClickDialogHandler">

    <Card>
        <CardHeader>
            <div class="d-flex flex-grow-1">
                <div class="flex-grow-1">
                    @DialogHeader
                </div>
                <div>
                    <Button Size="ButtonSize.Large" Variant="Button.ButtonVariants.Text" LeftIcon="fas fa-times" @onclick="OnClickCloseButtonHandler" />
                </div>
            </div>
        </CardHeader>
        <CardBody>
            @DialogBody
        </CardBody>
        <CardFooter>
            @DialogFooter
        </CardFooter>
    </Card>

</div>
