@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName expanded"
     @ref="@Ref">
    <div class="giz-expansion-panel__header">
        <button class="giz-expansion-panel__header__content"
             @onclick="OnClickHeader">
            <div>@Header</div>
            <Icon SVGIcon="Icons.ArrowUp" Class="giz-expansion-panel-arrow-up" />
            <Icon SVGIcon="Icons.ArrowDown" Class="giz-expansion-panel-arrow-down" />
        </button>
    </div>
    <div class="giz-expansion-panel__body">
        @ChildContent
    </div>
</div>