@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<span class="@ClassName"
      style="@StyleMapper.AsString()">

    @if (BackgroundStyle == IconBackgroundStyles.Circle)
    {
        <i class="fas fa-circle fa-stack-2x" style="color: @BackgroundColor;"></i>
    }
    else if (BackgroundStyle == IconBackgroundStyles.Square)
    {
        <i class="fas fa-square fa-stack-2x" style="color: @BackgroundColor;"></i>
    }

    <i class="@Source @IconClassName" style="color: @Color;"></i>
</span>