@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@ClassName"
     style="@StyleMapper.AsString()">
    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>