@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style @StyleValue"
     @ref="@Ref">

    @if (ListHeader != null)
    {
        <div class="giz-list-header">
            @ListHeader
        </div>
    }

    <CascadingValue Value="@this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>