@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     @onclick="OnClickHandler"
     @onclick:stopPropagation="true"
     @onmousedown="OnMouseDownHandler"
     @onmousedown:stopPropagation="true"
     @onmouseup="OnMouseUpHandler"
     @onmouseup:stopPropagation="true">

</div>

