@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<ul class="giz-pagination">
    <li @onclick="OnClickPreviousHandler" class="@(!IsPreviousEnabled ? "giz-pagination-btn--disabled" : "")">Previous</li>
    <li @onclick="OnClickNextHandler" class="@(!IsNextEnabled ? "giz-pagination-btn--disabled" : "")">Next</li>
</ul>