@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="giz-pagination">
    <button @onclick="OnClickPreviousHandler" class="giz-pagination-button previous-button @(!IsPreviousEnabled ? "disabled" : "")">
        <Icon SVGIcon="Icons.PaginationLeft_Manager" />
    </button>
    <button @onclick="OnClickNextHandler" class="giz-pagination-button next-button @(!IsNextEnabled ? "disabled" : "")">
        <Icon SVGIcon="Icons.PaginationRight_Manager"  />
    </button>
</div>