@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="max-height:@MaximumHeight; @StyleMapper.AsString()"
     @onclick="OnClickHandler">
    @ChildContent
</div>
