@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style @StyleValue"
     @ref="@Ref"
     @onclick="OnClickPopupHandler"
     @onfocusout="OnFocusOutHandler"
     tabindex="-1">
    @ChildContent
</div>
