@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<ul class="giz-simple-tab__ul d-flex ma-0">
    @for (var i = 0; i < Items.Count; i++)
    {
        var local_i = i;
        <li class="giz-simple-tab__item relative py-4 px-0">
            <a class="giz-simple-tab__link giz-typography-body2 cursor-pointer font-weight-600 pa-4 @(GetTabItemClass(local_i))"
               @onclick="@(() => OnClickEvent(local_i))">
                @Items[local_i].Header
            </a>
        </li>
    }
</ul>