@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName()">
    <CascadingValue Value="@this" IsFixed="true">
        <ul class="giz-tab__ul d-flex ma-0">
            @foreach (var item in _items)
            {
                <li class="giz-tab__item relative py-4 px-0">
                    <a class="giz-tab__link giz-typography-body2 cursor-pointer font-weight-600 pa-4  @GetTabItemClass(item)" @onclick=@( e => ActivateItem(item, e, false))>@item.Header</a>
                </li>
            }
        </ul>
        <div class="giz-tab-content giz-width-full">
            @ChildContent
        </div>
    </CascadingValue>
</div>