//=============== ExpansionPanel ================//

.giz-expansion-panel {
    &__header {
        display: flex;

        &__content {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__body {
        display: none;
        box-sizing: border-box;
    }
}
