/** @format */

//=============== Switch ================//

$switch-sizes: (
  extra-small: 10px,
  small: 12px,
  medium: 14px,
  large: 16px,
  extra-large: 18px,
);

.giz-switch {
  position: relative;
  user-select: none;

  input {
    opacity: 0;

    &:checked + label {
      .giz-switch__control {
        background-color: transparent;
      }
    }
  }

  label {
    cursor: pointer;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.4s;
    outline: 1px solid black;

    &__slider {
      width: 100%;
      height: 100%;

      &__thumb {
        background-color: black;
      }
    }
  }

  // Set sizes
  @each $size-name, $size-value in $switch-sizes {
    $padding: 2px;
    $radius: $size-value + $padding;

    &--#{$size-name} {
      width: ($size-value + 2 * $padding) * 2;
      height: $size-value + 2 * $padding;

      .giz-switch {
        &__control {
          border-radius: $radius;

          &__slider {
            &-wrapper {
              padding-top: $padding;
              padding-left: $padding;
            }

            border-radius: $radius;
            transition: transform 0.4s;

            &__thumb {
              width: $size-value;
              height: $size-value;
              border-radius: $radius;
              transition: transform 0.4s;
            }
          }
        }
      }

      input:checked + label {
        .giz-switch__control__slider {
          transform: translateX($radius + $padding);
        }
      }
    }
  }
}
