/** @format */

//=============== Switch ================//

.giz-switch {
  position: relative;

  $size: 16px;

  width: $size * 2;
  height: $size;

  user-select: none;

  input {
    opacity: 0;
  }

  label {
    cursor: pointer;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #65b8a7;
    border-radius: $size;
    transition: background-color 0.4s;

    &__slider-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: $size;
      overflow: hidden;
    }

    &__slider {
      width: 100%;
      height: 100%;
      border-radius: $size;
      transition: transform 0.4s;

      &__thumb {
        width: $size;
        height: $size;
        background-color: black;
        border-radius: 50%;
        transition: transform 0.4s;
      }
    }
  }

  input:checked + label {
    .giz-switch__control {
      background-color: #65b8a7;

      &__slider-wrapper {
        .giz-switch__control__slider {
          transform: translateX($size);
        }
      }
    }
  }
}
