//=============== AutoComplete ================//

.giz-input-autocomplete {
    display: inline-block;
    position: relative;

    &__content {
        position: relative;
    }

    &--full-width {
        display: block;
    }

    .giz-input-autocomplete__dropdown {
        &--full-width {
            width: 100%;
        }

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;
            }
        }

        .giz-list {
            .giz-list-item {
                padding-top: 1.6rem;
                padding-bottom: 1.6rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }

    .giz-input-control {
        .giz-input-root {
            justify-content: space-between;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
