//=============== CheckBox ================//
//TODO: A REVIEW
.giz-checkbox {
    display: inline-flex;

    & input {
        position: absolute;
        left: -9999px;

        & + label {
            position: relative;
            display: flex;
            align-items: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            margin: 4px 0;
        }

        &:checked + label {
            overflow: visible;
        }

        & + label:before {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.75rem;
        }

        &:checked + label:before {
            content: '';
        }

        &.disabled + label:before, &[disabled] + label:before {
            cursor: default;
            pointer-events: none;
        }

        &.disabled + label, &[disabled] + label {
            cursor: default;
        }

        &:checked + label:after {
            content: '';
            position: absolute;
            left: 0.6rem;
            top: 50%;
            transform: translateY(-35%);
            -moz-transform: translateY(-35%);
            -webkit-transform: translateY(-35%);
            width: 8px;
            height: 6px;
            background: url('/img/icons/tick.svg') no-repeat;
            height: 1.6rem;
            width: 1.6rem;
            background-size: 1.4rem;
        }

        &:indeterminate + label:before {
        }

        &:indeterminate.disabled + label:before, &:indeterminate[disabled] + label:before {
        }

        &:indeterminate + label:after {
            content: '';
            position: absolute;
            left: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            width: 0.8rem;
            height: 2px;
            background-color: white;
        }
    }
}
