.giz-combo-button {
    display: inline-flex;
    grid-template-columns: 1fr min-content;
    gap: 2px;
    position: relative;

    & > .left-button {
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;

        .giz-button__progress {
            &-wrapper {
                border-bottom-right-radius: 0px !important;
                border-top-right-radius: 0px !important;
            }
        }
    }

    & > .right-button {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    &--full-width {
        display: flex;

        & > .left-button {
            flex-grow: 1;
        }
    }

    &__dropdown {
        box-shadow: $elevation-2-theme-dark;
        border: 1px solid $border-color-theme-dark;

        &--full-width {
            min-width: 100%;
        }

        &--cursor {
            position: absolute;

            & > .giz-list {
                right: 0;
                left: 0;

                .giz-nested-list {
                    &.giz-list--right {
                        //left: calc(100% + 8px);
                    }

                    &.giz-list--left {
                    }

                    &.giz-list--top {
                    }
                }
            }
        }

        .giz-list {
            .giz-list-item {
                white-space: nowrap;
            }
        }
    }
}
