.giz-data-grid-wrapper {
    position: relative;
    overflow: auto;

    .giz-menu {
        position: absolute !important;
    }
}

.giz-data-grid {
    position: relative;
    width: 100%;
    border-collapse: separate;
    //Default Skin
    border-spacing: 0 0.2rem;
    color: $gray-black-theme-dark;
    font-size: $font-16-theme-dark;
    background-color: $dark-gray-theme-dark;

    & > thead td, & > thead th {
        height: 5rem;
        text-transform: $text-uppercase;
        font-size: $font-15-theme-dark;
        color: $gray-black-theme-dark;
        font-weight: $font-weight-400;
        padding: 0 0.5rem;
        text-align: left;

        .giz-data-grid-header {
            display: flex;
            height: 100%;
            align-items: center;
        }

        &.is-sorted-up {
            position: relative;

            &:after {
                content: '\f0de';
                position: absolute;
                right: 1rem;
                height: 100%;
                display: flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }

        &.is-sorted-down {
            position: relative;

            &:after {
                content: '\f0dd';
                position: absolute;
                right: 1rem;
                height: 100%;
                display: flex;
                align-items: $align-center;
                justify-content: $justify-center;
                top: 0;
            }
        }
    }

    & > tbody > tr:not(.giz-data-grid-row-detail) {
        height: 3.9rem;
        background-color: transparent;
        border-radius: $rounded-lg-theme-dark;
        margin-bottom: $spacer-12;

        & > td {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;

            &:first-child {
                border-left: 1px solid transparent;
            }

            &:last-child {
                border-right: 1px solid transparent;
            }
        }

        &:hover {
            background-color: $dark-jungle-theme-dark;
            color: white;

            & > td {
                border-top: 1px solid $onyx-black-theme-dark;
                border-bottom: 1px solid $onyx-black-theme-dark;

                &:first-child {
                    border-left: 1px solid $onyx-black-theme-dark;
                }

                &:last-child {
                    border-right: 1px solid $onyx-black-theme-dark;
                }
            }
        }

        &.selected {
            background-color: $dark-navy-theme-dark;
            cursor: pointer;

            & > td {
                border-top: 1px solid $onyx-black-theme-dark;
                border-bottom: 1px solid $onyx-black-theme-dark;

                &:first-child {
                    border-left: 1px solid $onyx-black-theme-dark;
                }

                &:last-child {
                    border-right: 1px solid $onyx-black-theme-dark;
                }
            }

            &:hover {
                background-color: rgba(90,103,242,0.2);

                & > td {
                    border-top: 1px solid $onyx-black-theme-dark;
                    border-bottom: 1px solid $onyx-black-theme-dark;

                    &:first-child {
                        border-left: 1px solid $onyx-black-theme-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $onyx-black-theme-dark;
                    }
                }
            }
        }
        /*&.is-active {
            border-color: #453855;
            background-color: $dark-light-color-theme-dark;
            border-radius: 4px 4px 0 0;
            margin-bottom: $spacer-0;
        }*/

        & > td:first-child {
            border-radius: 4px 0 0 4px;
        }

        & > td:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    & > tbody > tr > td {
        vertical-align: middle;
        padding: 0 0.5rem;

        .giz-input-control {
            margin: 0 -0.5rem;
        }
    }

    & > tbody > tr.giz-data-grid-row-details > td {
        padding: $spacer-0;
    }

    &-check {
        width: 1%;
    }
}

.column-selector {
    top: 1.2rem;
    right: 0;

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .giz-checkbox {
        label {
            margin: 0;
        }
    }
}

.giz-data-grid-row {
    &-detail {
        display: none;
        background-color: transparent;

        &:hover {
            & > td {
                border-color: transparent;
            }
        }

        &-content {
            position: relative;
            width: 100%;
            border: 1px solid #292e39;
            border-radius: $rounded-theme-dark;
            display: flex;
            align-items: $align-start;
            box-sizing: border-box;
            border-top: $border-0-theme-dark;
            padding: 1.2rem 0;
            margin-top: $spacer-n12;
        }
    }

    &--dropdown {
        &.giz-data-grid-row--open + .giz-data-grid-row-detail {
            display: table-row;
        }
    }

    &--open {
        border-color: #453855;
        background-color: $primary-color-theme-dark;
        cursor: pointer;
        color: white;

        & > td {
            border-top: 1px solid $onyx-black-theme-dark;
            border-bottom: 1px solid $onyx-black-theme-dark;

            &:first-child {
                border-left: 1px solid $onyx-black-theme-dark;
            }

            &:last-child {
                border-right: 1px solid $onyx-black-theme-dark;
            }
        }
    }
}

.giz-data-grid--sticky-header {
    max-height: 100%;

    .column-selector-wrapper {
        position: sticky;
    }

    .giz-data-grid {
        & > thead td, & > thead th {
            position: sticky;
            top: 0;
            z-index: 1;
            color: $gray-black-theme-dark;
            background-color: $dark-gray-theme-dark;
        }
    }
}
