//=============== DatePicker ================//

.giz-input-datepicker {
    display: inline-block;

    &__content {
        position: relative;
    }

    &--full-width {
        display: block;
    }

    .giz-input-control {
        .giz-input-root {
            cursor: pointer;
        }
    }
}

.giz-input-datepicker--popup {
    position: relative;

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.giz-input-datepicker--dialog {

    .giz-input-datepicker__dropdown {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        width: 100%;
    }

    .giz-calendar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// giz calendar (static/dialog)
.giz-calendar {
    width: 25rem;
    min-height: 1.6rem;

    .giz-calendar-header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        padding: 3rem 2rem;
        cursor: default;

        .giz-calendar-year-title {
            font-size: 2.56rem;
            cursor: pointer;
        }

        .giz-calendar-title {
            font-size: 3.3rem;
        }
    }

    .giz-calendar-content {
        /*padding: 0.8rem 1rem;*/

        &_wrapper {
            padding: 0 1rem;
        }

        .giz-calendar-title-switch {
            align-items: center;
            margin: 0.8rem 0;
            display: flex;
            justify-content: space-between;

            .giz-calendar-title-slide:hover {
                cursor: pointer;
            }
        }

        .giz-calendar-weekday {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            place-items: center;
            margin-bottom: 0.8rem;
        }

        .giz-calendar-day {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: center;
            grid-template-rows: repeat(6, 1fr);
            place-items: center;
        }

        .giz-calendar-month {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            place-items: center;
            grid-row-gap: 0.8rem;
            grid-template-rows: auto;
            margin-bottom: 0.8rem;
        }

        .giz-calendar-year {
            height: 30rem;
            overflow: auto;

            .giz-calendar-year-count {
                text-align: center;
            }
        }

        .giz-calendar-action {
            display: flex;
            justify-content: flex-end;
        }
    }
}
