//=============== gizmo dialog classes ================//

.giz-dialog {
    background-color: rgba(230, 230, 230, 0.3);
    width: 100%;
    height: 100%;
    outline: $outline-0;
    z-index: 100;
    visibility: hidden;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: $justify-center;
    align-items: $align-center;
    padding: 1rem;

    &__content {
    }

    &.giz-dialog--open {
        visibility: visible;
    }

    &.fade {
        opacity: 0;
        transition: opacity ease-in-out 0.3s;
    }

    &.fade-in {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
    }
}