//=============== gizmo divider classes ================//

.giz-divider {
    //Default Skin
    background: $onyx-black-theme-dark;

    &--vertical {
        width: 1px;
        height: auto;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}