//=============== gizmo expansion panel classes ================//

.giz-expansion-panel {
    &__header {
        display: flex;

        &__content {
            display: flex;
            align-items: center;
            cursor: pointer;
            @include font-h5($font-weight-bold);
        }

        margin-bottom: 16px;
    }

    &__body {
        display: none;
        box-sizing: border-box;
    }

    .giz-expansion-panel-arrow-up {
        display: none;
    }

    &:not(.expanded) {
        .giz-expansion-panel-arrow-down {
            display: inline-flex;
        }
    }

    &.expanded {
        .giz-expansion-panel-arrow-down {
            display: none;
        }

        .giz-expansion-panel-arrow-up {
            display: inline-flex;
        }

        .giz-expansion-panel__body {
            display: block;
        }
    }

    &.expanding {
        .giz-expansion-panel__body {
            overflow: hidden;
            animation-name: giz-expansion-panel-expanding-animation;
            animation-timing-function: ease-in-out;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    &.collapsing {
        .giz-expansion-panel__body {
            overflow: hidden;
            animation-name: giz-expansion-panel-collapsing-animation;
            animation-timing-function: ease-in-out;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes giz-expansion-panel-expanding-animation {
    from {
        height: 0;
    }

    to {
        height: var(--abh);
    }
}

@keyframes giz-expansion-panel-collapsing-animation {
    from {
        height: var(--abh);
    }

    to {
        height: 0;
    }
}
