//=============== GizInput ================//

//== giz input control
.giz-input-control {
    position: relative;

    &:hover {
        .giz-input-validation-tooltip {
            display: block;
        }
    }
    //input label
    .giz-input-label {
        display: block;
    }
    //Input default size (normal)
    .giz-input-root {
        display: flex;
        align-items: center;

        .giz-input-wrapper {
            position: relative;
            width: 100%;
            height: 100%;

            & > input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            background-color: inherit;

            &.disabled, &[disabled] {
                pointer-events: none;
            }
        }

        &.disabled, &[disabled] {
            pointer-events: none;
        }

        .giz-input-icon-right {
            display: flex;
        }
        //full width
        &--full-width {
            width: 100%;
        }
        //input small
        &--small {
            .giz-input-icon-right {
                display: flex;
            }
        }

        //input large
        &--large {
            padding: 0 3.2rem;
            height: 6.4rem;
            outline: none;

            &.disabled, &[disabled] {
                pointer-events: none;
            }

            .giz-input-icon-right {
                display: flex;
            }
        }
        //input outline
        &--outline {
            transition: border-color 0.2s;
        }
    }
}

.giz-input-validation-tooltip {
    display: none;
    position: absolute;
    z-index: 1;
}