//=============== List ================//

.giz-list {
    position: relative;
    //min-width: 15rem;
    text-align: left;
    //Default Theme

    .giz-list-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }

    &.giz-list-with-header {
        display: grid;
        grid-template-rows: auto 1fr;
    }
}

//== nested list

.giz-nested-list {
    position: absolute;
    margin-top: -50px;
    width: max-content;

    &.giz-list--right {
        left: 100%;
    }

    &.giz-list--left {
        right: 100%;
    }

    &.giz-list--top {
        margin-top: unset;
        bottom: 0;
    }
}
