//=============== gizmo masked-text-input classes ================//

.giz-masked-text-input {
    input {
        font-family: $font-family-text;
        @include font-m($font-weight-light);
    }

    .giz-mask {
        display: flex;
        //FontF
        font-family: $font-family-text;
        @include font-m($font-weight-light);

        &-done {
            visibility: hidden;
        }
    }
}