//=============== gizmo masked-phone-input classes ================//

.giz-masked-phone-input {
    input {
        position: absolute;
        font-family: $font-family-text;
        @include font-l($font-weight-light);
    }

    .giz-input-wrapper {
        display: flex;
        cursor: text;

        .giz-phone-prefix {
            margin-right: 0.5rem;
            cursor: text;
        }

        .giz-phone-wrapper {
            flex-grow: 1;
            position: relative;
        }
    }

    .giz-mask {
        position: absolute;
        color: rgba(255, 255, 255, 0.35);
        display: flex;
        //FontF
        font-family: $font-family-text;
        @include font-l($font-weight-light);

        &-done {
            visibility: hidden;
        }
    }

    .giz-input-root {
        &--small {
            .giz-mask {
                @include font-m($font-weight-light);
            }
        }

        &--medium {
            .giz-mask {
                @include font-l($font-weight-light);
            }
        }

        &--large {
            .giz-mask {
                @include font-l($font-weight-light);
            }
        }
    }
}
