//=============== MultiSelect ================//

.giz-input-multi-select {
    display: inline-block;
    position: relative;

    &.open {
        .giz-input-icon-right {
            transform: rotate(180deg);
        }
    }

    &__content {
        cursor: pointer;
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_wrapper {
            position: relative;
        }
    }

    &--full-width {
        display: block;
    }

    .giz-input-multi-select__dropdown {
        &--full-width {
            width: 100%;
        }

        &--cursor {
            position: absolute;
            overflow: hidden !important;

            & > .giz-list {
                right: 0;
                left: 0;
                overflow: auto;
            }
        }

        .giz-input-multi-select-list {
            .giz-input-multi-select-item {
                cursor: pointer;

                &.selected {
                    border: 1px solid transparent;
                    background-color: rgba(250, 250, 250, 0.16);
                }
            }
        }
    }

    .giz-input-control {
        cursor: pointer;

        .giz-input-root {
            justify-content: space-between;
            align-items: center;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}