//=============== gizmo overlay classes ================//

.giz-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    //Default Skin
    outline: $outline-0;

    &--visible {
        display: flex;
    }
}
