//=============== Pagination ================//

.giz-pagination {
    position: relative;
    display: flex;
    list-style-type: none;

    & li {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &-btn {
        &.disabled {
            pointer-events: none;
        }
    }
}
