//=============== gizmo pagination classes ================//

.giz-pagination {
    position: relative;
    display: flex;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    & li {
        padding: 0 1.4rem;
        margin: 0 0.6rem;
        color: $secondary-color-theme-dark;
        cursor: pointer;
        border-radius: $rounded-theme-dark;
        border: 1px solid $border-dark-color-theme-dark;
        font-weight: $font-weight-600;
        height: 3.2rem;
        display: flex;
        align-items: center;

        &:hover:not(.giz-pagination-btn--disabled), &.is-active {
            background: #5a7ff2;
            border-color: #5a7ff2;
            color: white;
        }
    }

    &-btn {
        &--disabled {
            color: $dark-gray-theme-dark;
            background: $onyx-black-theme-dark;
            pointer-events: none;
        }
    }
}
