//=============== gizmo progresss bar classes ================//

.giz-progress-bar {
    position: relative;
    width: 4.0rem;
    height: 0.3rem;
    overflow: hidden;
    border-radius: 8px;
    border-style: none;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E9EAEA;
        border-radius: 8px;
    }

    &__bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #0078D2;
        border-radius: 8px;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        //background-image: linear-gradient( -45deg, rgba(255, 255, 255, .24) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .24) 50%, rgba(255, 255, 255, .24) 75%, transparent 75%, transparent );
        //background-size: 0.5rem 0.5rem;
    }

    &--indeterminate {
        .giz-progress-bar__background {
            display: none;
        }

        .giz-progress-bar__bar {
            width: 0.9rem;
            animation: giz-progress-bar-indeterminate-animation 0.8s linear infinite;
        }

        &:after {
            content: none;
        }
    }
    /*@keyframes giz-progress-bar-indeterminate-animation {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(2.4rem);
        }

        100% {
            transform: translateX(0);
        }
    }*/

    @keyframes giz-progress-bar-indeterminate-animation {
        0% {
            transform: translateX(-0.5rem);
        }

        50% {
            transform: translateX(-0.5rem);
        }

        100% {
            transform: translateX(4rem);
        }
    }
}

//== stacked progress bar  ====//

.giz-stacked-progress {
    height: 1rem;
    overflow: hidden;
    background-color: transparent;
    border-radius: $rounded-theme-dark;

    .giz-stacked-bar {
        float: $float-left;
        width: 0;
        height: 100%;
        background-color: #428bca;
    }
}

//== giz circle progress bar ====//

.giz-circle-progress {
    position: relative;

    > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .giz-circle-progress-bar {
        width: 100%;
        height: 100%;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    &--left {
        left: 0;
    }

    &--left {

        .giz-circle-progress-bar {
            left: 100%;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }
    }

    &--right {
        right: 0;
    }

    &--right {

        .giz-circle-progress-bar {
            left: -100%;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
    }

    &--value {
        display: flex;
        border-radius: $rounded-circle-theme-dark;
        align-items: $align-center;
        justify-content: $justify-center;
        height: 100%;
        font-weight: $font-weight-400;
    }

    &.giz-circle-progress--extra-small {
        width: 1.7rem;
        height: 1.7rem;

        &::after {
            content: "";
            border-radius: $rounded-circle-theme-dark;
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            border-color: #ddd;
            border-width: 0.1rem;
            width: calc(100% - 0.2rem);
            height: calc(100% - 0.2rem);
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 0.8rem;
                border-bottom-left-radius: 0.8rem;
                border-width: 0.1rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 0.8rem;
        }
    }

    &.giz-circle-progress--small {
        width: 2.6rem;
        height: 2.6rem;

        &::after {
            content: "";
            border-radius: $rounded-circle-theme-dark;
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            border-color: #ddd;
            border-width: 0.2rem;
            width: calc(100% - 0.4rem);
            height: calc(100% - 0.4rem);
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 1.6rem;
                border-bottom-right-radius: 1.6rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 1.6rem;
                border-bottom-left-radius: 1.6rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 1.6rem;
        }
    }

    &.giz-circle-progress--medium {
        width: 3.4rem;
        height: 3.4rem;

        &::after {
            content: "";
            border-radius: $rounded-circle-theme-dark;
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            border-color: #ddd;
            border-width: 0.2rem;
            width: calc(100% - 0.4rem);
            height: calc(100% - 0.4rem);
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.2rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 2.8rem;
        }
    }

    &.giz-circle-progress--large {
        width: 4.2rem;
        height: 4.2rem;

        &::after {
            content: "";
            border-radius: $rounded-circle-theme-dark;
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            border-color: #ddd;
            border-width: 0.4rem;
            width: calc(100% - 0.8rem);
            height: calc(100% - 0.8rem);
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 2.8rem;
        }
    }

    &.giz-circle-progress--extra-large {
        width: 5.1rem;
        height: 5.1rem;

        &::after {
            content: "";
            border-radius: $rounded-circle-theme-dark;
            position: absolute;
            top: 0;
            left: 0;
            border-style: solid;
            border-color: #ddd;
            border-width: 0.4rem;
            width: calc(100% - 0.8rem);
            height: calc(100% - 0.8rem);
        }

        & > .giz-circle-progress--left {

            & > .giz-circle-progress-bar {
                border-top-right-radius: 2.8rem;
                border-bottom-right-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--right {

            & > .giz-circle-progress-bar {
                border-top-left-radius: 2.8rem;
                border-bottom-left-radius: 2.8rem;
                border-width: 0.4rem;
            }
        }

        & > .giz-circle-progress--value {
            font-size: 2.8rem;
        }
    }
}
