//=============== gizmo select classes ================//

//== giz-input select
.giz-input-select {
    display: inline-block;
    position: relative;

    &__content {
        cursor: pointer;

        &_wrapper {
            position: relative;
        }
    }

    &--full-width {
        display: block;
    }

    &__dropdown {
        box-shadow: $elevation-2-theme-dark;
        border: 1px solid $border-color-theme-dark;

        &--full-width {
            width: 100%;
        }

        &--cursor {
            position: absolute;
            overflow: hidden !important;

            & > .giz-list {
                right: 0;
                left: 0;
                overflow: auto;
            }
        }

        .giz-list {
            .giz-list-item {
                padding: $spacer-16 $spacer-20;
            }
        }
    }

    .giz-input-control {
        cursor: pointer;

        .giz-input-root {
            justify-content: $justify-space-between;
            align-items: $align-center;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                cursor: pointer;
            }
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
