//=============== Select ================//

.giz-input-select {
    display: inline-block;
    position: relative;

    &.open {
        .giz-input-icon-right {
            transform: rotate(180deg);
        }
    }

    &__content {
        cursor: pointer;

        &_wrapper {
            position: relative;
        }
    }

    &--full-width {
        display: block;
    }

    &__dropdown {
        &--full-width {
            width: 100%;
        }

        &--cursor {
            position: absolute;
            overflow: hidden !important;

            & > .giz-list {
                right: 0;
                left: 0;
                overflow: auto;
            }
        }
    }

    .giz-input-control {
        cursor: pointer;

        .giz-input-root {
            justify-content: space-between;
            align-items: center;

            input {
                cursor: pointer;
            }

            .giz-input-icon-right {
                cursor: pointer;
            }
        }
    }

    &.disabled, &[disabled] {
        .giz-input-control {
            cursor: default;
        }
    }

    .giz-popup {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
