//=============== SimpleTab ================//

.giz-simple-tab {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 100%;
    overflow: hidden;

    &__header {
        list-style: none;

        &-link {

            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: black;
                }
            }
        }
    }

    &__content {
        max-height: 100%;
        overflow: hidden;
    }

    &--hidden {
        display: none;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;

        .giz-simple-tab__link {
            pointer-events: none;
            opacity: 0.4;
        }
    }

    &-item {
        max-height: 100%;
        overflow: auto;
        display: none;

        &.active {
            display: block;
            padding: 0.5rem;
        }
    }
}
