
//== tab.scss files == //

.giz-tab.giz-tab-hidden {
    display: none;
}

.giz-tab.giz-tab-disabled {
    .giz-tab__link {
        pointer-events: none;
        opacity: 0.4;
    }
}

//giz-tab
.giz-tab {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 100%;
    overflow: hidden;

    .giz-tab-active {
        color: $white-color;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: $width-full;
            height: 3px;
            background-color: $primary-color-theme-dark;
            animation-duration: .3s;
            animation-name: slideborder;
        }
    }

    .giz-tab-hidden {
        display: none;
    }

    .giz-tab-disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &__ul {
        list-style: $list-unstyled;
        padding: 1.7rem 4.5rem;
        padding: $spacer-0;
        border-bottom: 1px solid $onyx-black-theme-dark;
    }

    &__link {
        color: $gray-black-theme-dark;

        &:hover {
            color: $white-color;
        }
    }
}

//giz-tab-content
.giz-tab-content {
    background: $dark-gray-theme-dark;
    max-height: 100%;
    overflow: auto;

    > div {
        display: none;
    }

    .giz-tab-content-active {
        display: block;
        padding: 0.5rem;
    }

    .giz-tab-content-active {
        animation-duration: 1s;
        animation-name: slidein;
    }
}

//key frame tabs border movement
@keyframes slideborder {
    from {
        margin-left: -22%;
        width: $width-full;
    }

    to {
        margin-left: 2%;
        width: $width-full;
    }
}
//keyframe for slide content-list text
@keyframes slidein {
    from {
        margin-left: 100%;
        width: $width-full;
    }

    to {
        margin-left: 0%;
        width: $width-full;
    }
}
