//=============== TextInput ================//

.giz-input-text {
    display: inline-block;

    .giz-input-root {
        textarea {
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            background-color: inherit;
            height: 100%;
            //Default Skin
            color: white;
        }
    }
    //Default Skin

    &--full-width {
        display: block;
    }
}