//=============== gizmo text-input classes ================//

.giz-input-text {
    display: inline-block;

    &--full-width {
        display: block;
    }

    .giz-input-root {

        textarea {
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            background: inherit;
            //
            height: 100%;
            color: white;
        }
    }
}