// == theme client == //

// == variables == //

//== font family

$font-family-header: Rubik, sans-serif;
$font-family-text: 'Noto Sans', sans-serif;

//== common color
//Updated
$primary-color: #3F8CFF;

$bg-alert: #F73B3B;

$typo-primary: #FAFAFA;
$typo-secondary: rgba(255, 255, 255, 0.6);
$typo-brand: #0091E6;
$typo-ghost: rgba(255, 255, 255, 0.3);
$typo-link: #0F9FFF;
$typo-link-hover: #6FA5C8;
$typo-link-mirror: #57BCFF;
$typo-system: #636E83;
$typo-normal: #009BF5;
$typo-success: #10AE79;
$typo-warning: #E68200;
$typo-alert: #F73B3B;
$typo-caution: #F8C735;
$typo-critical: #62001D;

//Old
$unknown-color: orange;

//== box shadow (elevation)

$elevation-0: none;
$elevation-1: 0px 1px 12px rgba(37, 140, 246, 0.5);
$elevation-2: 0px 5px 10px rgba(8, 8, 13, 0.3);
$elevation-3: 0px 4px 8px rgba(4, 5, 6, 0.4);
$elevation-4: 0px 5px 10px rgba(8, 8, 13, 0.3);
$elevation-5: 0px 20px 15px 5px rgba(4, 5, 6, 0.4);

//== border size

$border: 1px solid #282B32;
