/** @format */

// == theme light components == //

$light-theme-comp-attr: $light-theme;

// == data-grid == //
.giz-data-grid {
  [#{$light-theme-comp-attr}] & {
    color: $secondary-color-theme-dark;
    background-color: white;

    & > thead td,
    & > thead th {
      color: $dim-color-theme-dark;
    }

    & > tbody > tr {
      background-color: transparent;

      &:hover {
        background-color: $secondary-light-theme-dark;
        color: black;

        & > td {
          border-top: 1px solid $gray-dark-theme-dark;
          border-bottom: 1px solid $gray-dark-theme-dark;

          &:first-child {
            border-left: 1px solid $gray-dark-theme-dark;
          }

          &:last-child {
            border-right: 1px solid $gray-dark-theme-dark;
          }
        }
      }

      &.selected {
        background-color: $primary-light-color-theme-dark;

        & > td {
          border-top: 1px solid $gray-dark-theme-dark;
          border-bottom: 1px solid $gray-dark-theme-dark;

          &:first-child {
            border-left: 1px solid $gray-dark-theme-dark;
          }

          &:last-child {
            border-right: 1px solid $gray-dark-theme-dark;
          }
        }

        &:hover {
          background-color: $primary-light-color-theme-dark;

          & > td {
            border-top: 1px solid $gray-dark-theme-dark;
            border-bottom: 1px solid $gray-dark-theme-dark;

            &:first-child {
              border-left: 1px solid $gray-dark-theme-dark;
            }

            &:last-child {
              border-right: 1px solid $gray-dark-theme-dark;
            }
          }
        }
      }

      &.active {
        border-color: #dddfe4;
        background-color: $primary-light-color-theme-dark;
      }
    }
  }
}

.giz-data-grid-row {
  [#{$light-theme-comp-attr}] & {
    .giz-data-grid-row-detail {
      &-content {
        border-color: #dddfe4;
      }
    }

    .giz-data-grid-row--open {
      border-color: #dddfe4;
      background-color: $primary-color-theme-dark;

      & > td {
        border-top: 1px solid $gray-dark-theme-dark;
        border-bottom: 1px solid $gray-dark-theme-dark;

        &:first-child {
          border-left: 1px solid $gray-dark-theme-dark;
        }

        &:last-child {
          border-right: 1px solid $gray-dark-theme-dark;
        }
      }
    }
  }
}

.giz-data-grid--sticky-header {
  [#{$light-theme-comp-attr}] & {
    .giz-data-grid {
      & > thead td,
      & > thead th {
        color: $secondary-color-theme-dark;
        background-color: white;
      }
    }
  }
}

// == button group == //
.giz-button-group {
  [#{$light-theme-comp-attr}] & {
    background-color: $secondary-light-theme-dark;
    border: 2px solid $secondary-light-theme-dark;

    .giz-button {
      color: $dim-ligh-theme-darkt;
      background-color: $secondary-light-theme-dark;

      &.selected {
        background-color: white;
      }

      &:hover:not(.selected) {
        background-color: $dim-white-theme-dark;
        color: $dim-color-theme-dark;
      }
    }

    &.disabled {
      color: $dim-white-theme-dark;

      .giz-button {
        &.selected {
          color: $dim-ligh-theme-darkt;
          background-color: white;
        }
      }
    }
  }
}

//== giz input
.giz-input-control {
  [#{$light-theme-comp-attr}] & {
    .giz-input-label {
      color: $dim-ligh-theme-darkt;
    }

    .giz-input-root {
      color: $secondary-color-theme-dark;

      &:hover {
        color: black;
      }

      input {
        color: $secondary-color-theme-dark;

        &::placeholder {
          color: $gray-light-color-theme-dark;
        }

        &.disabled,
        &[disabled] {
          background-color: $gray-dark-theme-dark;
        }
      }

      &.disabled,
      &[disabled] {
        background-color: $gray-dark-theme-dark;
        color: $dim-ligh-theme-darkt;
      }

      &--outline {
        border: 1px solid $gray-dark-theme-dark;

        &:hover {
          border: 1px solid $gray-dark-theme-dark;
        }
      }

      &--filled {
        background-color: white;

        &:focus-within {
        }
      }
    }

    &--invalid {
      color: $danger-color-theme-dark;

      input {
        color: $danger-color-theme-dark;
      }

      .giz-input-root--outline {
        border: 1px solid $danger-color-theme-dark;

        &:hover {
          border: 1px solid $danger-color-theme-dark;
        }
      }

      .giz-input-root--shadow {
        box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.4);

        &:hover {
          box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.5);
        }

        &:focus-within {
          box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.6);
        }
      }
    }
  }
}

// == select == //
.giz-input-select {
  [#{$light-theme-comp-attr}] & {
    .giz-input-select__dropdown {
      border: 1px solid $gray-dark-theme-dark;
    }
  }
}

// == button == //
.giz-button {
  [#{$light-theme-comp-attr}] & {
    //group button
    &--group-button {
      color: $gray-dark-theme-dark;
      background-color: white;

      /*svg {
                color: $gray-dark-theme-dark;
            }*/
    }
    //button fill variant
    &--fill {
      &.disabled,
      &[disabled] {
        color: white;
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;

        /*svg {
                    color: $gray-dark-theme-dark;
                }*/
      }

      &.primary {
        background-color: $primary-color-theme-dark;
        color: white;
      }

      &.warning {
        color: $gray-dark-theme-dark;
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;

        /*svg {
                    color: $gray-dark-theme-dark;
                }*/
      }

      &.danger {
        &.disabled,
        &[disabled] {
          color: white;
          background-color: white;
          border: 1px solid $gray-dark-theme-dark;

          /*svg {
                        color: $gray-dark-theme-dark;
                    }*/
        }
      }
    }
    //button outline variant
    &--outline {
      color: $gray-black-theme-dark;
      background-color: white;
      border: 1px solid $gray-light-color-theme-dark;

      &:hover {
        background-color: white;
        color: $primary-color-theme-dark;
      }

      &:active {
        background-color: white;
        border: 1px solid $primary-color-theme-dark;
        color: $secondary-color-theme-dark;
      }

      &.disabled,
      &[disabled] {
        color: $gray-dark-theme-dark;
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;

        /*svg {
                    color: $gray-dark-theme-dark;
                }*/
      }
    }
    //button text variant
    &--text {
      color: $secondary-color-theme-dark;

      &:hover {
        color: $primary-color-theme-dark;
        background-color: white;
      }

      &:active {
        background-color: white;
        box-shadow: $elevation-1-theme-dark;
      }

      &.disabled,
      &[disabled] {
        color: $gray-dark-theme-dark;
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;

        /*svg {
                    color: $gray-dark-theme-dark;
                }*/
      }
    }
    //buton disable
    &.disabled,
    &[disabled] {
      color: $gray-dark-theme-dark;
      background-color: white;
      border: 1px solid $gray-dark-theme-dark;

      /*svg {
                color: $gray-dark-theme-dark;
            }*/
    }
  }
}

// == list == //
.giz-list {
  [#{$light-theme-comp-attr}] & {
    background-color: white;

    .giz-list-item {
      color: $secondary-color-theme-dark;

      &.active {
        background-color: $primary-color-theme-dark;
        color: white;
      }
    }

    &.giz-list--clickable {
      .giz-list-item {
        &:hover {
          background-color: $secondary-light-theme-dark;
          color: $primary-color-theme-dark;
        }
      }
    }
  }
}

// == card == //
.giz-card {
  [#{$light-theme-comp-attr}] & {
    background-color: white;
  }
}

// == menu == //
.giz-menu {
  [#{$light-theme-comp-attr}] & {
    &__dropdown {
      .giz-list {
        border: 1px solid $gray-dark-theme-dark;
      }
    }
  }
}

// == divider == //
.giz-divider {
  [#{$light-theme-comp-attr}] & {
    background-color: $gray-dark-theme-dark;
  }
}

// == tooltip == //
.giz-tooltip {
  [#{$light-theme-comp-attr}] & {
    background-color: white;
    border: 1px solid $gray-dark-theme-dark;

    &--top {
      &::after {
        border-color: $gray-dark-theme-dark transparent transparent transparent;
      }
    }

    &--bottom {
      &::after {
        border-color: transparent transparent $gray-dark-theme-dark transparent;
      }
    }
  }
}

// == tree-view == //
.giz-tree-view {
  [#{$light-theme-comp-attr}] & {
    &-item {
      &__body {
        color: $secondary-color-theme-dark;
      }

      &.selected {
        & > .giz-tree-view-item__body {
          background-color: $secondary-light-theme-dark;
          color: $primary-color-theme-dark;
        }
      }
    }
  }
}

// == simple-tab == //
.giz-simple-tab {
  [#{$light-theme-comp-attr}] & {
    .active {
      color: black;
    }

    &__header {
      background-color: $secondary-light-theme-dark;
      border-bottom: 1px solid white;

      &-link {
        color: $dim-color-theme-dark;

        &:hover {
          background-color: white;
          color: $dim-color-theme-dark;
        }
      }
    }

    &-item {
      color: $secondary-color-theme-dark;
      background-color: white;
    }
  }
}

// == tab == //
.giz-tab {
  [#{$light-theme-comp-attr}] & {
    &.active {
      color: black;
    }

    &__ul {
      background-color: $secondary-light-theme-dark;
      border-bottom: 1px solid white;
    }

    &__link {
      color: $dim-color-theme-dark;

      &:hover {
        background-color: white;
        color: $dim-color-theme-dark;
      }
    }
  }
}

.giz-tab-content {
  [#{$light-theme-comp-attr}] & {
    color: $secondary-color-theme-dark;
    background-color: white;
  }
}

// == switch == //
.giz-switch {
  [#{$light-theme-comp-attr}] & {
    &__slider {
      &__thumb {
        background-color: white;
      }
    }
  }
}

// == autocomplete == //
.giz-input-autocomplete {
  [#{$light-theme-comp-attr}] & {
    .giz-input-autocomplete__dropdown {
      border: 1px solid $gray-dark-theme-dark;
    }
  }
}

// == checkbox == //
.giz-checkbox {
  [#{$light-theme-comp-attr}] & {
    & input {
      & + label:before {
        background-color: transparent;
        border: 1px solid $gray-color-theme-dark;
      }

      &.disabled + label:before,
      &[disabled] + label:before {
        background-color: $gray-dark-theme-dark;
        border-color: $gray-dark-theme-dark;
      }
    }
  }
}

// == calendar == //
.giz-calendar {
  [#{$light-theme-comp-attr}] & {
    background-color: white;

    .giz-calendar-content {
      background-color: white;
      color: black;
    }
  }
}

// == pagination == //
.giz-pagination {
  [#{$light-theme-comp-attr}] & {
    & li {
      color: $secondary-color-theme-dark;
      border-color: #d4d6db;

      &:hover:not(.disabled),
      &.active {
        background-color: #5a7ff2;
        border-color: #5a7ff2;
        color: white;
      }
    }

    &-btn {
      &.disabled {
        color: $gray-dark-theme-dark;
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;
      }
    }
  }
}

// == time-picker == //
.giz-time-picker {
  [#{$light-theme-comp-attr}] & {
    .giz-time-picker-content {
      color: black;
      background-color: white;
    }

    .giz-time-picker-footer {
      background-color: white;
    }
  }
}
