// == theme light components == //

// == data-grid == //
.giz-data-grid {
    [light-theme] & {
        color: $secondary-color-theme-dark;
        background: white;

        & > thead td, & > thead th {
            color: $dim-color-theme-dark;
        }

        & > tbody > tr {
            background: transparent;

            &:hover {
                background: $secondary-light-theme-dark;
                color: black;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark;
                    border-bottom: 1px solid $gray-dark-theme-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark;
                    }
                }
            }

            &.is-opened {
                border-color: #dddfe4;
                background: $primary-color-theme-dark;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark;
                    border-bottom: 1px solid $gray-dark-theme-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark;
                    }
                }
            }

            &.is-selected {
                background: $primary-light-color-theme-dark;

                & > td {
                    border-top: 1px solid $gray-dark-theme-dark;
                    border-bottom: 1px solid $gray-dark-theme-dark;

                    &:first-child {
                        border-left: 1px solid $gray-dark-theme-dark;
                    }

                    &:last-child {
                        border-right: 1px solid $gray-dark-theme-dark;
                    }
                }

                &:hover {
                    background: $primary-light-color-theme-dark;

                    & > td {
                        border-top: 1px solid $gray-dark-theme-dark;
                        border-bottom: 1px solid $gray-dark-theme-dark;

                        &:first-child {
                            border-left: 1px solid $gray-dark-theme-dark;
                        }

                        &:last-child {
                            border-right: 1px solid $gray-dark-theme-dark;
                        }
                    }
                }
            }

            &.is-active {
                border-color: #dddfe4;
                background: $primary-light-color-theme-dark;
            }
        }
    }
}

.giz-data-grid__details-content {
    [light-theme] & {
        border-color: #dddfe4;
    }
}

.giz-data-grid-sticky-header {
    [light-theme] & {
        .giz-data-grid {
            & > thead td, & > thead th {
                color: $secondary-color-theme-dark;
                background: white;
            }
        }
    }
}

// == button group == //
.giz-button-group {
    [light-theme] & {
        background-color: $secondary-light-theme-dark;
        border: 2px solid $secondary-light-theme-dark;

        .giz-button {
            color: $dim-ligh-theme-darkt;
            background-color: $secondary-light-theme-dark;

            &.selected {
                background-color: white;
            }

            &:hover:not(.selected) {
                background: $dim-white-theme-dark;
                color: $dim-color-theme-dark;
            }
        }

        &.disabled {
            color: $dim-white-theme-dark;

            .giz-button {
                &.selected {
                    color: $dim-ligh-theme-darkt;
                    background: white;
                }
            }
        }
    }
}

//== giz input
.giz-input-control {
    [light-theme] & {

        .giz-input-label {
            color: $dim-ligh-theme-darkt;
        }

        .giz-input-root {
            color: $secondary-color-theme-dark;

            &:hover {
                color: black;
            }

            input {
                color: $secondary-color-theme-dark;

                &::placeholder {
                    color: $gray-light-color-theme-dark;
                }

                &.disabled, &[disabled] {
                    background: $gray-dark-theme-dark;
                }
            }

            &.disabled, &[disabled] {
                background: $gray-dark-theme-dark;
                color: $dim-ligh-theme-darkt;
            }

            &--outline {
                border: 1px solid $gray-dark-theme-dark;

                &:hover {
                    border: 1px solid $gray-dark-theme-dark;
                }
            }

            &--filled {
                background: white;

                &:focus-within {
                }
            }
        }

        &--invalid {
            color: $danger-color-theme-dark;

            input {
                color: $danger-color-theme-dark;
            }

            .giz-input-root--outline {
                border: 1px solid $danger-color-theme-dark;

                &:hover {
                    border: 1px solid $danger-color-theme-dark;
                }
            }

            .giz-input-root--shadow {
                box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.4);

                &:hover {
                    box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.5);
                }

                &:focus-within {
                    box-shadow: 0px 0px 9px rgba($danger-color-theme-dark, 0.6);
                }
            }
        }
    }
}

// == select == //
.giz-input-select {
    [light-theme] & {

        .giz-input-select__dropdown {
            border: 1px solid $gray-dark-theme-dark;
        }
    }
}

// == button == //
.giz-button {
    [light-theme] & {
        //group button
        &--group-button {
            color: $gray-dark-theme-dark;
            background: white;

            /*svg {
                color: $gray-dark-theme-dark;
            }*/
        }
        //button fill variant
        &--fill {
            &.disabled, &[disabled] {
                color: white;
                background: white;
                border: 1px solid $gray-dark-theme-dark;

                /*svg {
                    color: $gray-dark-theme-dark;
                }*/
            }

            &.primary {
                background: $primary-color-theme-dark;
                color: white;
            }

            &.warning {
                color: $gray-dark-theme-dark;
                background: white;
                border: 1px solid $gray-dark-theme-dark;

                /*svg {
                    color: $gray-dark-theme-dark;
                }*/
            }

            &.danger {
                &.disabled, &[disabled] {
                    color: white;
                    background: white;
                    border: 1px solid $gray-dark-theme-dark;

                    /*svg {
                        color: $gray-dark-theme-dark;
                    }*/
                }
            }
        }
        //button outline variant
        &--outline {
            color: $gray-black-theme-dark;
            background: white;
            border: 1px solid $gray-light-color-theme-dark;

            &:hover {
                background: white;
                color: $primary-color-theme-dark;
            }

            &:active {
                background: white;
                border: 1px solid $primary-color-theme-dark;
                color: $secondary-color-theme-dark;
            }

            &.disabled, &[disabled] {
                color: $gray-dark-theme-dark;
                background: white;
                border: 1px solid $gray-dark-theme-dark;

                /*svg {
                    color: $gray-dark-theme-dark;
                }*/
            }
        }
        //button text variant
        &--text {
            color: $secondary-color-theme-dark;

            &:hover {
                color: $primary-color-theme-dark;
                background: white;
            }

            &:active {
                background: white;
                box-shadow: $elevation-1-theme-dark;
            }

            &.disabled, &[disabled] {
                color: $gray-dark-theme-dark;
                background: white;
                border: 1px solid $gray-dark-theme-dark;

                /*svg {
                    color: $gray-dark-theme-dark;
                }*/
            }
        }
        //buton disable
        &.disabled, &[disabled] {
            color: $gray-dark-theme-dark;
            background: white;
            border: 1px solid $gray-dark-theme-dark;

            /*svg {
                color: $gray-dark-theme-dark;
            }*/
        }
    }
}

// == list == //
.giz-list {
    [light-theme] & {
        background-color: white;

        .giz-list-item {
            color: $secondary-color-theme-dark;

            &.giz-list-item-active {
                background-color: $primary-color-theme-dark;
                color: white;
            }
        }

        &.giz-list--clickable {
            .giz-list-item {
                &:hover {
                    background-color: $secondary-light-theme-dark;
                    color: $primary-color-theme-dark;
                }
            }
        }
    }
}

// == card == //
.giz-card {
    [light-theme] & {
        background-color: white;
    }
}

// == menu == //
.giz-menu {
    [light-theme] & {

        &__dropdown {

            .giz-list {
                border: 1px solid $gray-dark-theme-dark;
            }
        }
    }
}

// == divider == //
.giz-divider {
    [light-theme] & {
        background: $gray-dark-theme-dark;
    }
}

// == tooltip == //
.giz-tooltip {
    [light-theme] & {
        background-color: white;
        border: 1px solid $gray-dark-theme-dark;

        &--top {
            &::after {
                border-color: $gray-dark-theme-dark transparent transparent transparent;
            }
        }

        &--bottom {
            &::after {
                border-color: transparent transparent $gray-dark-theme-dark transparent;
            }
        }
    }
}

// == tree-view == //
.giz-tree-view {
    [light-theme] & {
        &-item {
            &__body {
                color: $secondary-color-theme-dark;
            }

            &--selected {
                & > .giz-tree-view-item__body {
                    background-color: $secondary-light-theme-dark;
                    color: $primary-color-theme-dark;
                }
            }
        }
    }
}

// == simple-tab == //
.giz-simple-tab {
    [light-theme] & {
        .giz-simple-tab-active {
            color: black;
        }

        &__ul {
            background: $secondary-light-theme-dark;
            border-bottom: 1px solid white;
        }

        &__link {
            color: $dim-color-theme-dark;

            &:hover {
                background-color: white;
                color: $dim-color-theme-dark;
            }
        }
    }
}

.giz-simple-tab-item {
    [light-theme] & {
        color: $secondary-color-theme-dark;
        background: white;
    }
}

// == tab == //
.giz-tab {
    [light-theme] & {
        .giz-tab-active {
            color: black;
        }

        &__ul {
            background: $secondary-light-theme-dark;
            border-bottom: 1px solid white;
        }

        &__link {
            color: $dim-color-theme-dark;

            &:hover {
                background-color: white;
                color: $dim-color-theme-dark;
            }
        }
    }
}

.giz-tab-content {
    [light-theme] & {
        color: $secondary-color-theme-dark;
        background: white;
    }
}

// == switch == //
.giz-switch {
    [light-theme] & {
        &__slider {
            &__thumb {
                background-color: white;
            }
        }
    }
}

// == autocomplete == //
.giz-input-autocomplete {
    [light-theme] & {
        .giz-input-autocomplete__dropdown {
            border: 1px solid $gray-dark-theme-dark;
        }
    }
}

// == checkbox == //
.giz-checkbox {
    [light-theme] & {
        & input {
            & + label:before {
                background: transparent;
                border: 1px solid $gray-color-theme-dark;
            }

            &.disabled + label:before, &[disabled] + label:before {
                background: $gray-dark-theme-dark;
                border-color: $gray-dark-theme-dark;
            }
        }
    }
}

// == calendar == //
.giz-calendar {
    [light-theme] & {
        background-color: white;

        .giz-calendar-content {
            background-color: white;
            color: black;
        }
    }
}

// == pagination == //
.giz-pagination {
    [light-theme] & {
        & li {
            color: $secondary-color-theme-dark;
            border-color: #d4d6db;

            &:hover:not(.giz-pagination-btn--disabled), &.is-active {
                background: #5a7ff2;
                border-color: #5a7ff2;
                color: white;
            }
        }

        &-btn {
            &--disabled {
                color: $gray-dark-theme-dark;
                background: white;
                border: 1px solid $gray-dark-theme-dark;
            }
        }
    }
}

// == time-picker == //
.giz-time-picker {
    [light-theme] & {
        .giz-time-picker-content {
            color: black;
            background-color: white;
        }

        .giz-time-picker-footer {
            background-color: white;
        }
    }
}