//=============== Tooltip ================//

.giz-tooltip-root {
    display: inline-block;
    position: relative;

    &:hover {
        .giz-tooltip {
            visibility: visible;
        }
    }
}

.giz-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    //Default Skin
    text-align: center;
    padding: 0.438rem 0.563rem;
    white-space: nowrap;
    border-radius: $rounded-theme-dark;

    &--top {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, calc(-10px));

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
        }
    }

    &--bottom {
        top: 100%;
        left: 50%;
        transform: translate(-50%, calc(10px));

        &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
        }
    }
}
