.giz-tree-view {
    user-select: none;

    .giz-menu {
        position: absolute !important;
    }

    &-item {
        cursor: default;

        &__body {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0.5rem 1rem;
            //Default Theme
            color: $gray-black-theme-dark;
        }

        & > .giz-tree-view__nested {
            display: none;
            margin-left: 2rem;
        }

        &--expanded {
            & > .giz-tree-view__nested {
                display: block;
            }
        }

        &.selected {
            & > .giz-tree-view-item__body {
                //Default Theme
                background-color: $dark-jungle-theme-dark;
                color: $primary-color-theme-dark;
            }
        }
    }
}
